{% extends "error.html" %}
{% block content %}
  <div class="body-wrapper">
    <div class="wrapper-padding">
    <div class="page-head">
      <div class="page-title">404 - <span>ERROR</span></div>
      <div class="clear"></div>
    </div>
    <div class="alt-center-c error">
      <p>Unfortunately, the page you are looking for just isn't there but you may;</p>
      <ul>
        <li>Go <a href="{{url_for('home') }}">home</a>.</li>
        <li>Checkout the featured tours below</li>
        <li><span><a href="{{url_for('contact') }}">Contact</a></span> Us. <span>(also below)<span></li>
        <li>Search for what you are looking for.</li>
      </ul>
      <p>Thank you for chosing <span><a href="{{url_for('home') }}">My Africa Tours</a></span>.</p>
    </div>
    </div>
  </div>
{% endblock %}
