{% extends "error.html" %}
  <div class="page-title">
    <h1>Page Not Found</h1>
  </div>
  <p> What you were looking for is just not there. (oops. wrong message!) </p>
  <p>Go back <a href="{{url_for('home') }}">Home</a></p>
