<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="about, my africa tours" />
  <meta charset="utf-8" /><link rel="icon" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" sizes="60x60"
  	href="{{url_for('static', filename='img/apple-icon-60x60.png')}}">
  <link rel="apple-touch-icon" sizes="72x72"
  	href="{{url_for('static', filename='img/apple-icon-72x72.png')}}">
  <link rel="apple-touch-icon" sizes="76x76"
  	href="{{url_for('static', filename='img/apple-icon-76x76.png')}}">
  <link rel="apple-touch-icon" sizes="114x114"
  	href="{{url_for('static', filename='/img/apple-icon-114x114.png')}}">
  <link rel="apple-touch-icon" sizes="120x120"
  	href="{{url_for('static', filename='img/apple-icon-120x120.png')}}">
  <link rel="apple-touch-icon" sizes="144x144"
  	href="{{url_for('static', filename='img/apple-icon-144x144.png')}}">
  <link rel="apple-touch-icon" sizes="152x152"
  	href="{{url_for('static', filename='img/apple-icon-152x152.png')}}">
  <link rel="apple-touch-icon" sizes="180x180"
  	href="{{url_for('static', filename='img/apple-icon-180x180.png')}}">
  <link rel="icon" type="img/png" sizes="192x192"
  	href="{{url_for('static', filename='img/android-icon-192x192.png')}}">
  <link rel="icon" type="img/png" sizes="32x32"
  	href="{{url_for('static', filename='img/favicon-32x32.png')}}">
  <link rel="icon" type="img/png" sizes="96x96"
  	href="{{url_for('static', filename='img/favicon-96x96.png')}}">
  <link rel="icon" type="img/png" sizes="16x16"
  	href="{{url_for('static', filename='img/favicon-16x16.png')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.formstyler.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />

</head>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ B ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ O ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ D ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Y ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<body class="inner-body">

{% include 'header.html' %}

<!-- main-cont -->
<div class="main-cont">

	<div class="inner-page">
		<div class="inner-breadcrumbs">
			<div class="content-wrapper">
				<div class="page-title">About us</div>
				<div class="breadcrumbs">
        			<a href="#">Home</a> / <span>About us</span>
      			</div>
      			<div class="clear"></div>
      		</div>
		</div>

		<div class="about-content">
			<!-- <div class="content-wrapper">
				<header class="page-lbl fly-in">
					<div class="offer-slider-lbl">About Us</div>
					<p> And what makes our platform succeed. </p>
				</header>
				<div class="tree-colls fly-in">
					<div class="tree-colls-i about-text">
						<p>My Africa Tours is a platform for <strong>certified tour operators</strong> in Africa to reach a wider audience of travellers around the world. With offices in Uganda, we are able to:</p>
						<nav class="marked-b">
							<ul>
								<li><strong>Thoroughly vet</strong> and <strong>screen</strong> each tour operator who wishes to join our platform.</li>
								<li>Provide training and support to tour operators on the ground. This allows you to get customer service that you are used to in the western world. </li>
							</ul>
						</nav>
					</div>
					<div class="tree-colls-i about-text">
						<p>Having a location in the states allows us to:</p>
						<nav class="marked-b">
							<ul>
								<li>Market African safari tours on behalf of our partners.</li>
								<li>Create trust between travellers and tour operators.. </li>
								<li>Facilitate initial travel requirements e.g. visas, vaccinations, etc.</li>
								<li>Provide travel insurance to travellers on behalf of our partners (Includes coverage with <strong>AMREF</strong> Flying Doctors in Africa)
							</ul>
						</nav>
					</div>
					<div class="tree-colls-i about-text">
						<div class="about-percent">
							<label>tours - 87%</label>
							<div data-percentage="87" class="about-percent-a"><span></span></div>
						</div>
						<div class="about-percent">
							<label>work with clients - 47%</label>
							<div data-percentage="47" class="about-percent-a"><span></span></div>
						</div>
						<div class="about-percent">
							<label>hotels - 70%</label>
							<div data-percentage="70" class="about-percent-a"><span></span></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
		</div> -->

		<!-- <div class="about-us-devider fly-in"></div>

		<div class="counters fly-in">
			<div class="content-wrapper">
				<div class="counters-i">
					<b class="numscroller" data-slno='1' data-min='0' data-max='560' data-delay='3' data-increment="15">0</b>
					<span>tours</span>
				</div>
				<div class="counters-i">
					<b class="numscroller" data-slno='1' data-min='0' data-max='545' data-delay='3' data-increment="2">0</b>
					<span>happy clients</span>
				</div>
				<div class="counters-i">
					<b class="numscroller" data-slno='1' data-min='0' data-max='324' data-delay='2' data-increment="3">0</b>
					<span>Reviews</span>
				</div>
				<div class="counters-i">
					<b class="numscroller" data-slno='1' data-min='0' data-max='2' data-delay='3' data-increment="2">0</b>
					<span>Company offices</span>
				</div>
				<div class="counters-i">
					<b class="numscroller" data-slno='1' data-min='0' data-max='25' data-delay='3' data-increment="2">0</b>
					<span>awards won</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>

  <div class="testimonials-flat about-ts">
      <div class="testimonials-holder fly-in">
      	<div id="testimonials-slider">
      	<div class="testimonials-i">
        	<div class="testimonials-b">"Jerome, was an excellent Travel Agent for us and considered our unique needs as he planned our itinerary. Every suggestion he made was excellent, as he considered our budget, time constraints, and personal likes and dislikes. I would definitely work with Alex again as he made our trip easy and stress free. He was a delight to work with."</div>
        	<div class="testimonials-c">
          	<nav>
            	<ul>
              	<li><a href="#"><img alt="" src="static/img/ts-star-a.png" /></a></li>
              	<li><a href="#"><img alt="" src="static/img/ts-star-a.png" /></a></li>
              	<li><a href="#"><img alt="" src="static/img/ts-star-a.png" /></a></li>
              	<li><a href="#"><img alt="" src="static/img/ts-star-a.png" /></a></li>
              	<li><a href="#"><img alt="" src="static/img/ts-star-a.png" /></a></li>
            	</ul>
          	</nav>
        	</div>
        	<div class="testimonials-d">Kelly Dowson, Adventurer</div>
      	</div>
      	</div>
      </div>
  </div> -->

	<div class="our-team">
		<header class="page-lbl fly-in">
			<div class="offer-slider-lbl">Our team</div>
			<p>Our team is made up of individuals with a significant background in domestic and regional, leisure, tour and corporate travel  management.</p>
		</header>
		<div class="content-wrapper">

				<div class="tree-colls three-team fly-in">
					<div class="tree-colls-i">
						<div class="about-percent about-photo">
							<div class="about-photo-image">
								<div class="team-more-h">
									<div class="team-more">
										<div class="team-more-a">
											Mr. Kimumwe is the director of my africa tours.
											<div class="team-more-social">
												<a href="#" class="team-fb"></a>
												<a href="#" class="team-tw"></a>
												<a href="#" class="team-gp"></a>
												<a href="#" class="team-inst"></a>
												<a href="#" class="team-pint"></a>
											</div>
										</div>
									</div>
								</div>
								<img alt="" src="static/img/myt_about_jj.jpg">
							</div>
							<div class="about-photo-lbl">Kimumwe John</div>
							<div class="about-photo-sublbl">Director</div>
						</div>
					</div>
					<div class="tree-colls-i">
						<div class="about-percent about-photo">
							<div class="about-photo-image">
								<div class="team-more-h">
									<div class="team-more">
										<div class="team-more-a">
											Jerome will spice up your tours.
											<div class="team-more-social">
												<a href="#" class="team-fb"></a>
												<a href="#" class="team-tw"></a>
												<a href="#" class="team-gp"></a>
												<a href="#" class="team-inst"></a>
												<a href="#" class="team-pint"></a>
												<a href="#" class="team-vk"></a>
											</div>
										</div>
									</div>
								</div>
								<img alt="" src="static/img/myt_about_jp.jpg">
							</div>
							<div class="about-photo-lbl">Jerome Pius</div>
							<div class="about-photo-sublbl">Travel Agent</div>
						</div>
					</div>
					<div class="tree-colls-i">
						<div class="about-percent about-photo">
							<div class="about-photo-image">
								<div class="team-more-h">
									<div class="team-more">
										<div class="team-more-a">
											Garvin Asimwe.
											<div class="team-more-social">
												<a href="#" class="team-fb"></a>
												<a href="#" class="team-tw"></a>
												<a href="#" class="team-gp"></a>
												<a href="#" class="team-inst"></a>
												<a href="#" class="team-pint"></a>
												<a href="#" class="team-vk"></a>
											</div>
										</div>
									</div>
								</div>
								<img alt="" src="static/img/myt_about_garvin.jpg">
							</div>
							<div class="about-photo-lbl">Garvin Asimwe</div>
							<div class="about-photo-sublbl">Founder</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
		</div>
	</div>

	<div class="about-us-devider fly-in"></div>

	<div class="why-we">
		<div class="content-wrapper">
			<header class="page-lbl fly-in">
				<div class="offer-slider-lbl">WHY CHOOSE US?</div>
				<p>Unbeatable customer service, simple.</p>
			</header>

			<div class="tree-colls fly-in">
				<div class="tree-colls-i">
					<div class="about-percent why-we-item">
						<div class="why-we-img"><img alt="" src="static/img/why-we-01.png"></div>
						<div class="why-we-lbl">Excellent trip planning</div>
						<div class="why-we-txt">We contact you via phone or email to clarify and go over your initial requests and any recommendations we may have. Depending on how you heard about us, we will determine the best tour operators to customize and craft your itinerary from start to finish.</div>
					</div>
				</div>
				<div class="tree-colls-i">
					<div class="about-percent why-we-item">
						<div class="why-we-img"><img alt="" src="static/img/why-we-02.png"></div>
						<div class="why-we-lbl">Best tour pricing</div>
						<div class="why-we-txt">By giving our clients more choices. You can book with the tour provider of your choice. If you would like to get on a payment plan with an initial deposit, do so with My Africa Tours and you are all set. A packet will be mailed to you with information on how to prepare for your journey.</div>
					</div>
				</div>
				<div class="tree-colls-i">
					<div class="about-percent why-we-item">
						<div class="why-we-img"><img alt="" src="static/img/why-we-03.png"></div>
						<div class="why-we-lbl">We love our clients</div>
						<div class="why-we-txt">That is why at the end of your safari, you will be asked to provide a review your trip so that other travellers can relive your experience. Vicariously of course.</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</div>
</div>
</div>
<!-- /main-cont -->

{% include 'footer.html' %}

<!-- // scripts // -->
  <script src="/static/js/jquery-1.11.3.min.js"></script>
  <script src="/static/js/jqeury.appear.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/bxSlider.js"></script>
  <script src="/static/js/custom.select.js"></script>
  <script src="/static/js/viewport.js"></script>
  <script src="/static/js/numscroller-1.0.js"></script>
  <script type="text/javascript" src="/static/js/twitterfeed.js"></script>
  <script src="/static/js/script.js"></script>


  <!-- // <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>   -->
  <!-- // <script src="{{ url_for('static', filename='js/jqeury.appear.js') }}"></script> -->
  <!-- // <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script> -->
  <!-- // <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script> -->
  <!-- // <script src="{{ url_for('static', filename='js/bxSlider.js') }}"></script> -->
  <!-- // <script src="{{ url_for('static', filename='js/custom.select.js') }}"></script> -->
  <!-- // <script src="{{ url_for('static', filename='js/viewport.js') }}"></script> -->
  <!-- // <script src="{{ url_for('static', filename='js/numscroller-1.0.js') }}"></script> -->
  <!-- // <script type="text/javascript" src="{{ url_for('static', filename='js/twitterfeed.js') }}"></script> -->
  <!-- // <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->

<!-- \\ scripts \\ -->

</body>
</html>
