<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta charset="utf-8" /><link rel="icon" href="favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" sizes="60x60"
  	href="{{url_for('static', filename='img/apple-icon-60x60.png')}}">
  <link rel="apple-touch-icon" sizes="72x72"
  	href="{{url_for('static', filename='img/apple-icon-72x72.png')}}">
  <link rel="apple-touch-icon" sizes="76x76"
  	href="{{url_for('static', filename='img/apple-icon-76x76.png')}}">
  <link rel="apple-touch-icon" sizes="114x114"
  	href="{{url_for('static', filename='/img/apple-icon-114x114.png')}}">
  <link rel="apple-touch-icon" sizes="120x120"
  	href="{{url_for('static', filename='img/apple-icon-120x120.png')}}">
  <link rel="apple-touch-icon" sizes="144x144"
  	href="{{url_for('static', filename='img/apple-icon-144x144.png')}}">
  <link rel="apple-touch-icon" sizes="152x152"
  	href="{{url_for('static', filename='img/apple-icon-152x152.png')}}">
  <link rel="apple-touch-icon" sizes="180x180"
  	href="{{url_for('static', filename='img/apple-icon-180x180.png')}}">
  <link rel="icon" type="img/png" sizes="192x192"
  	href="{{url_for('static', filename='img/android-icon-192x192.png')}}">
  <link rel="icon" type="img/png" sizes="32x32"
  	href="{{url_for('static', filename='img/favicon-32x32.png')}}">
  <link rel="icon" type="img/png" sizes="96x96"
  	href="{{url_for('static', filename='img/favicon-96x96.png')}}">
  <link rel="icon" type="img/png" sizes="16x16"
  	href="{{url_for('static', filename='img/favicon-16x16.png')}}">

  <link rel="stylesheet" href="{{url_for('static',filename='build/mediaelementplayer.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.formstyler.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
</head>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ B ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ O ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ D ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Y ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<body class="inner-body">

{% include 'header.html' %}

<!-- main-cont -->
<div class="main-cont">

	<div class="inner-page">
		<div class="inner-breadcrumbs">
			<div class="content-wrapper">
				<div class="page-title">My Africa Tours Blog</div>
				<div class="breadcrumbs">
        			<a href="#">Home</a> / <span>My Africa Tours Blog</span>
      			</div>
      			<div class="clear"></div>
      		</div>
		</div>
	</div>

	<div class="blog-page">
		<div class="content-wrapper">

		<div class="blog-sidebar">
			<div class="blog-sidebar-l">
  				<div class="blog-sidebar-lb">
    				<div class="blog-sidebar-p">

						<div class="blog-row">
							<!-- // -->
              {% for post in posts %}

								<div class="blog-post">
								<div class="blog-post-i">
									<div class="blog-post-l">
										<div class="blog-post-date">
											<b>{{ post.timestamp.day }}</b>
											<span>{{ post.timestamp.strftime("%B")~','~post.timestamp.year.__str__() }}</span>
										</div>
										<div class="blog-post-info">
											<div><a href="https://www.linkedin.com/in/rugambagye" style="text-decoration:none;">by {{ post.author.__str__() }}</a></div> <!-- author -->
											<div>posted in {{ post.category.__str__() }}</div> <!-- category -->
											<div>{{ post.comment.count() }} comments</div> <!-- number of comments on this post -->
										</div>
									</div>
									<div class="blog-post-c">
  										<div class="blog-post-cb">
    										<div class="blog-post-p">
                        {% if post.id!=5 %}
												<div class="blog-post-title"><a href={{ url_for("blog_post", id=post.id) }}>{{ post.title }}</a></div>
                        {% endif %}
    											<div class="blog-post-preview">
                            {% if post.id==2 %}
                              <div class="blog-post-slider">
      													<div class="blog-post-st">
      														<div class="blog-post-slider-i"><a href="#"><img alt="" src="static/img/myt_blogpost-03.jpg" /></a></div>
      														<div class="blog-post-slider-i"><a href="#"><img alt="" src="static/img/myt_blogpost-02.jpg" /></a></div>
      														<div class="blog-post-slider-i"><a href="#"><img alt="" src="static/img/myt_blogpost-01.jpg" /></a></div>
      													</div>
      												</div>
                              {% elif post.id==3 %}
                                <div class="blog-post-audio">
                                  <audio src="http://sparrow-html.weblionmedia.net/build/AirReview-Landmarks-02-ChasingCorporate.mp3" controls="controls"></audio>
                                </div>
                              {% elif post.id==5 %}
                                <div class="blog-post-qoute">
        													<div class="blog-post-qoute-a"><b>Certainly, travel is more than the seeing of sights; it is a change that goes on, deep and permanent, in the ideas of living.</b></div>
        													<div class="blog-post-qoute-b">Miriam Beard</div>
        												</div>
                              {% else %}
                                <div class="blog-post-img">
                                  <a href={{ url_for("blog_post",id=post.id) }}><img alt="" src="static/img/myt_blogpost-01.jpg" /></a>
                                </div>
                            {% endif %}
    											</div>
    											<div class="blog-post-txt">
                            {{ post.preview }}
                          </div>
    											<a href={{ url_for("blog_post",id=post.id) }} class="blog-post-more">more</a>
    										</div>
  										</div>
  										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
								</div>

                {% endfor %}
							<!-- \\ -->
							<!-- // -->
								<!-- <div class="blog-post">
								<div class="blog-post-i">
									<div class="blog-post-l">
										<div class="blog-post-date">
											<b>{{ posts[1].timestamp.now().day }}</b>
											<span>{{ posts[1].timestamp.now().strftime("%B")~','~posts[1].timestamp.now().year }}</span>
										</div>
										<div class="blog-post-info">
											<div>by {{ posts[1].author.__str__() }}</div>
											<div>posted in {{posts[1].category.__str__()}}</div>
											<div>{{ posts[1].comment.count() }} comments</div>
										</div>
									</div>
									<div class="blog-post-c">
  										<div class="blog-post-cb">
    										<div class="blog-post-p">
												<div class="blog-post-title"><a href={{ url_for('blog_post', id=posts[1].id) }} >{{ posts[1].title }}</a></div>
    											<div class="blog-post-preview">
    												<div class="blog-post-slider">
    													<div class="blog-post-st">
    														<div class="blog-post-slider-i"><a href="#"><img alt="" src="static/img/myt_blogpost-03.jpg" /></a></div>
    														<div class="blog-post-slider-i"><a href="#"><img alt="" src="static/img/myt_blogpost-02.jpg" /></a></div>
    														<div class="blog-post-slider-i"><a href="#"><img alt="" src="static/img/myt_blogpost-01.jpg" /></a></div>
    													</div>
    												</div>
    											</div>
    											<div class="blog-post-txt">
                            <p>{{ posts[1].body }}</p>
                          </div>
    											<a href={{ url_for('blog_post', id=posts[1].id) }} class="blog-post-more">more</a>
    										</div>
  										</div>
  										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
								</div> -->
							<!-- \\ -->
							<!-- // -->
								<!-- <div class="blog-post">
								<div class="blog-post-i">
									<div class="blog-post-l">
										<div class="blog-post-date">
											<b>03</b>
											<span>Mar, 2015</span>
										</div>
										<div class="blog-post-info">
											<div>by M.A.T staff</div>
											<div>posted in travel</div>
											<div>5 comments</div>
										</div>
									</div>
									<div class="blog-post-c">
  										<div class="blog-post-cb">
    										<div class="blog-post-p">
												<div class="blog-post-title"><a href="#">Weekly podcast!</a></div>
    											<div class="blog-post-preview">
    												<div class="blog-post-audio">
    													<audio src="http://sparrow-html.weblionmedia.net/build/AirReview-Landmarks-02-ChasingCorporate.mp3" controls="controls"></audio>
    												</div>
    											</div>
    											<div class="blog-post-txt">
                            Having traveled for travel and pleasure since my early days of going to Europe and Asia from high school
                            and through college and the timeframes beyond, I have learned a lot about traveling on my own or with friends a
                            nd how to really focus on the positive and important aspects of traveling to a destination I’ve always wanted to visit.
                            </div>
    											<a href={{ url_for("blog_post",id=1) }} class="blog-post-more">more</a>
    										</div>
  										</div>
  										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
								</div> -->
							<!-- \\ -->
							<!-- // -->
								<!-- <div class="blog-post">
								<div class="blog-post-i">
									<div class="blog-post-l">
										<div class="blog-post-date">
											<b>01</b>
											<span>Mar, 2015</span>
										</div>
										<div class="blog-post-info">
											<div>by M.A.T Staff</div>
											<div>posted in travel</div>
											<div>5 comments</div>
										</div>
									</div>
									<div class="blog-post-c">
  										<div class="blog-post-cb">
    										<div class="blog-post-p">
												<div class="blog-post-title"><a href="#">Amazing safaris in East Africa.</a></div>
    											<div class="blog-post-preview">
    												<div class="blog-post-img">
    													<a href="#"><img alt="" src="img/blogpost-03.jpg" /></a>
    												</div>
    											</div>
    											<div class="blog-post-txt">
                            Safari amongst grazing wildlife across the great Serengeti, “endless plains” in the Maasai language.
                            Descend 2,000 ft. to the floor of the Ngorongoro Crater, the world’s largest unbroken caldera.
                            Watch in wonder as a seasonal pink blanket of flamingos shimmers in Lake Manyara, where rare
                            tree-climbing lions are also known to prowl. You’ll safari in style, staying in comfortable
                            lodges and prolific parks. Pampered in Tanzanian hospitality and enlightened by your expert rangers,
                            your once-in-a-lifetime experiences on this brilliant odyssey will leave you transformed.
                            Please see our Terms And Conditions for additional information regarding this Air Included tour
                          </div>
    											<a href={{ url_for("blog_post",id=1) }} class="blog-post-more">more</a>
    										</div>
  										</div>
  										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
								</div> -->
							<!-- \\ -->
							<!-- // -->
								<!-- <div class="blog-post">
								<div class="blog-post-i">
									<div class="blog-post-l">
										<div class="blog-post-date">
											<b>01</b>
											<span>Mar, 2015</span>
										</div>
										<div class="blog-post-info">
											<div>by M.A.T Staff</div>
											<div>posted in travel</div>
											<div>5 comments</div>
										</div>
									</div>
									<div class="blog-post-c">
  										<div class="blog-post-cb">
    										<div class="blog-post-p">
    											<div class="blog-post-preview">
    												<div class="blog-post-qoute">
    													<div class="blog-post-qoute-a"><b>Certainly, travel is more than the seeing of sights; it is a change that goes on, deep and permanent, in the ideas of living.</b></div>
    													<div class="blog-post-qoute-b">Miriam Beard</div>
    												</div>
    											</div>
    											<div class="blog-post-txt">
                            Experience the breathtaking highlights and wildlife of Kenya and Tanzania on this classic overland safari.
                            Overlooking panoramic landscapes, your comfortable lodges and traditional tented camps are ideally located in
                            prime viewing areas. Please see our Terms And Conditions for additional information regarding this tour
                            </div>
    											<a href={{ url_for("blog_post",id=1) }} class="blog-post-more">more</a>
    										</div>
  										</div>
  										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
								</div> -->
							<!-- \\ -->
						</div>
						<!-- <nav class="blog-pagination">
							<ul>
								<li><a href="#"><img alt="" src="static/img/pag-left.png" /></a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><img alt="" src="static/img/pag-right.png" /></a></li>
							</ul>
							<div class="clear"></div>
						</nav> -->
    				</div>
  				</div>
  				<br class="clear" />
			</div>
		</div>
		<div class="blog-sidebar-r">
  			<!-- // widget // -->
  				<div class="blog-widget search-widget">
  					<h2>Search</h2>
  					<input type="text" value="" placeholder="To search type and hit enter">
  				</div>
  			<!-- \\ widget \\ -->
  			<!-- // widget // -->
  				<div class="blog-widget text-widget">
  					<h2>My Africa Tours</h2>
  					<p>My Africa Tours is a well established travel/tour agency based in the U.S.A with offices in East Africa.</p>
            <p>We understand the tour business better than our competitors because of the amazing skills and talent of our ground travel agents, ready at a moment's notice.</p>
  				</div>
  			<!-- \\ widget \\ -->
  			<!-- // widget // -->
  				<div class="blog-widget recent-widget">
  					<h2>RECENT POSTS</h2>
  					<nav>
  						<ul>
  							<li><a href="#">Art</a></li>
  							<li><a href="#">travel</a></li>
  							<li><a href="#">Design</a></li>
  							<li><a href="#">Travel</a></li>
  						</ul>
  					</nav>
  				</div>
  			<!-- \\ widget \\ -->
  			<!-- // widget // -->
  				<div class="blog-widget tweeter-widget">
  					<h2>recent tweets</h2>
  					<div class="tweets-row">
  						<!-- // -->
  						<div class="tweeter-item">
  							<div class="tweeter-item-l"></div>
  							<div class="tweeter-item-r">
  								<span>Unde omnis iste natus doxes sit voluptatem accusantium doloremque</span>
  								<b>About 20 days ago</b>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<!-- \\ -->
  						<!-- // -->
  						<div class="tweeter-item">
  							<div class="tweeter-item-l"></div>
  							<div class="tweeter-item-r">
  								<span>Iste natus doxes sit voluptatem accusantium dolorem</span>
  								<b>About 20 days ago</b>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<!-- \\ -->
  						<!-- // -->
  						<div class="tweeter-item">
  							<div class="tweeter-item-l"></div>
  							<div class="tweeter-item-r">
  								<span>Voluptatem accusantium dolorem la dantium eaque ipsa.</span>
  								<b>About 20 days ago</b>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<!-- \\ -->
  					</div>
  				</div>
  			<!-- \\ widget \\ -->
  			<!-- // widget // -->
  				<div class="blog-widget tags-widget">
  					<h2>Tags</h2>
  					<div class="tags-row">
  						<a href="#">peoples</a>
  						<a href="#">Design</a>
  						<a href="#">Technology</a>
  						<a href="#">Music</a>
  						<a href="#">photography</a>
  					</div>
  					<div class="clear"></div>
  				</div>
  			<!-- \\ widget \\ -->
		</div>
		<div class="clear"></div>

		</div>
	</div>

</div>
<!-- /main-cont -->

{% include 'footer.html' %}

<!-- // scripts // -->
  <script src="static/js/jquery-1.11.3.min.js"></script>
  <script src="static/js/jqeury.appear.js"></script>
  <script src="static/js/jquery-ui.min.js"></script>
  <script src="static/js/owl.carousel.min.js"></script>
  <script src="static/js/bxSlider.js"></script>
  <script src="static/js/custom.select.js"></script>
  <script src="static/js/viewport.js"></script>
  <script src="static/build/mediaelement-and-player.min.js"></script>
  <!-- <script type="text/javascript" src="static/js/twitterfeed.js"></script> -->
  <script src="static/js/script.js"></script>
  <script>
  	$(document).ready(function(){
		'use strict';
  		$('audio,video').mediaelementplayer();
    	var $slider = $('.blog-post-st').bxSlider({
        	infiniteLoop: true,
        	speed: 600,
        	minSlides: 1,
        	maxSlides: 1,
        	moveSlides: 1,
        	auto: true,
        	slideMargin: 0
    	});

        $(window).on('resize', function(){
          $slider.reloadSlider();
        });
  	});
  </script>
<!-- \\ scripts \\ -->

</body>
</html>
