<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta charset="utf-8" /><link rel="icon" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="apple-touch-icon" sizes="60x60"
  	href="{{url_for('static', filename='img/apple-icon-60x60.png')}}">
  <link rel="apple-touch-icon" sizes="72x72"
  	href="{{url_for('static', filename='img/apple-icon-72x72.png')}}">
  <link rel="apple-touch-icon" sizes="76x76"
  	href="{{url_for('static', filename='img/apple-icon-76x76.png')}}">
  <link rel="apple-touch-icon" sizes="114x114"
  	href="{{url_for('static', filename='/img/apple-icon-114x114.png')}}">
  <link rel="apple-touch-icon" sizes="120x120"
  	href="{{url_for('static', filename='img/apple-icon-120x120.png')}}">
  <link rel="apple-touch-icon" sizes="144x144"
  	href="{{url_for('static', filename='img/apple-icon-144x144.png')}}">
  <link rel="apple-touch-icon" sizes="152x152"
  	href="{{url_for('static', filename='img/apple-icon-152x152.png')}}">
  <link rel="apple-touch-icon" sizes="180x180"
  	href="{{url_for('static', filename='img/apple-icon-180x180.png')}}">
  <link rel="icon" type="img/png" sizes="192x192"
  	href="{{url_for('static', filename='img/android-icon-192x192.png')}}">
  <link rel="icon" type="img/png" sizes="32x32"
  	href="{{url_for('static', filename='img/favicon-32x32.png')}}">
  <link rel="icon" type="img/png" sizes="96x96"
  	href="{{url_for('static', filename='img/favicon-96x96.png')}}">
  <link rel="icon" type="img/png" sizes="16x16"
  	href="{{url_for('static', filename='img/favicon-16x16.png')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='build/mediaelementplayer.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.formstyler.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
</head>

<body class="inner-body">
<!-- // authorize // -->
<!-- \\ authorize \\-->

{% include 'header.html' %}

<!-- main-cont -->
<div class="main-cont">

	<div class="inner-page">
		<div class="inner-breadcrumbs">
			<div class="content-wrapper">
				<div class="page-title">{{ post.title }}</div>
				<div class="breadcrumbs">
        			<a href="/blog">Blog</a> /  <span>{{ post.title }}</span>
      			</div>
      			<div class="clear"></div>
      		</div>
		</div>

	</div>

	<div class="blog-page">
		<div class="content-wrapper">
		<div class="blog-sidebar">
			<div class="blog-sidebar-l">
  				<div class="blog-sidebar-lb">
    				<div class="blog-sidebar-p">
						<div class="blog-row">
							<!-- // -->
								<div class="blog-post single-post">
								<div class="blog-post-i">
									<div class="blog-post-l">
										<div class="blog-post-date">
											<b>{{ post.timestamp.day }}</b>
											<span>{{ post.timestamp.strftime("%B")~','~post.timestamp.year.__str__() }}</span>
										</div>
										<div class="blog-post-info">
											<div>{{ post.author }}</div>
											<div>posted in {{ post.category }}</div>
											<div>{{post.comment.count()}} comments</div>
											<div class="shareholder">
												<span>share</span>
												<div class="share-popup">
													<a href="https://twitter.com/"><img alt="" src={{ url_for("static",filename="img/share-popup-01.png") }}></a>
													<a href="https://www.facebook.com/"><img alt="" src={{ url_for("static",filename="img/share-popup-02.png") }}></a>
													<a href="https://www.pintrest.com/"><img alt="" src={{ url_for("static",filename="img/share-popup-03.png") }}></a>
												</div>
											</div>
										</div>
									</div>
									<div class="blog-post-c">
  										<div class="blog-post-cb">
    										<div class="blog-post-p">
												<div class="blog-post-title"><a href="#">{{ post.title }}</a></div>
    											<div class="blog-post-preview">
                            {% if post.id==2 %}
                              <div class="blog-post-slider">
      													<div class="blog-post-st">
      														<div class="blog-post-slider-i"><a href="#"><img alt="" src="../static/img/myt_blogpost-03.jpg" /></a></div>
      														<div class="blog-post-slider-i"><a href="#"><img alt="" src="../static/img/myt_blogpost-02.jpg" /></a></div>
      														<div class="blog-post-slider-i"><a href="#"><img alt="" src="../static/img/myt_blogpost-01.jpg" /></a></div>
      													</div>
      												</div>
                              {% elif post.id==3 %}
                                <div class="blog-post-audio">
                                  <audio src="http://sparrow-html.weblionmedia.net/build/AirReview-Landmarks-02-ChasingCorporate.mp3" controls="controls"></audio>
                                </div>
                              {% elif post.id==5 %}
                                <div class="blog-post-qoute">
        													<div class="blog-post-qoute-a"><b>Certainly, travel is more than the seeing of sights; it is a change that goes on, deep and permanent, in the ideas of living.</b></div>
        													<div class="blog-post-qoute-b">Miriam Beard</div>
        												</div>
                              {% else %}
                                <div class="blog-post-img">
                                  <a href={{ url_for("blog_post",id=post.id) }}><img alt="" src={{ url_for("static", filename="img/myt_blogpost-01.jpg") }} /></a>
                                </div>
                            {% endif %}
    											</div>
    											<div class="blog-post-txt">
                            {{ post.body }}
                            {% if post.id!=2 %}
                              <div class="text-quote">
      													<div class="text-quote-a">Travel is good for the mind and the soul.</div>
      													<div class="text-quote-b">Sam Delores</div>
      												</div>
      												<p>{{ post.preview }}</p>
                            {% endif %}
    												<div class="post-tags">
                              <span>TAGS:</span>
                              {% for tag in post.tags[0].__str__().split(',') %}
                                <a href="#">{{ tag }}</a>,
                              {% endfor %}
    												</div>
    											</div>
    											<div class="blog-comments-lbl">{{ post.comment.count() }} comments</div>
    											<div class="blog-comments">
    												<!-- // -->
                            {% for comment in post.comment %}
    												<div class="blog-comment-i">
														<div class="guest-reviews-a">
															<div class="guest-reviews-l">
																<img alt="" src="../static/img/comment-01.png">
															</div>
															<div class="guest-reviews-r">
  															<div class="guest-reviews-rb">
  																<div class="blog-comment-lbl">{{ comment.author }}</div>
  																<div class="blog-comment-info">Posted at 17:33h, 06 December <a href="#">Reply</a></div>
  																<div class="blog-comment-txt">{{ comment.body }} </div>
  															</div>
  															<br class="clear">
															</div>
														</div>
														<div class="clear"></div>
    												</div>
                            {% endfor %}
    												<!-- \\ -->
    												<!-- // -->
    												<!-- <div class="blog-comment-i">
														<div class="guest-reviews-a">
															<div class="guest-reviews-l">
																<img alt="" src="../static/img/comment-02.png">
															</div>
															<div class="guest-reviews-r">
  															<div class="guest-reviews-rb">
  																<div class="blog-comment-lbl">Diana rojers</div>
  																<div class="blog-comment-info">Posted at 17:33h, 06 December <a href="#">Reply</a></div>
  																<div class="blog-comment-txt">Doloremque laudantium, totam rem. Aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta. sunt explicabo. Nemo enim ipsam voluptatem </div>
  															</div>
  															<br class="clear">
															</div>
														</div>
														<div class="clear"></div>
    												</div> -->
    												<!-- \\ -->
    											</div>
                          <form autocomplete="on", action={{'/blog_post/'~post.id}} method="post">
                            {{ cform.csrf_token }}
    											<div class="post-comment">
    												<div class="blog-comments-lbl">POST A COMMENT</div>
													<div class="booking-form-i">
														<label>First name:</label>
														<div class="input">{{ cform.firstname(type="text",value="") }}</div>
													</div>
													<div class="booking-form-i">
														<label>Email:</label>
														<div class="input">{{ cform.email(type="text",value="") }}</div>
													</div>
													<div class="booking-form-i">
														<label>Message:</label>
														<div class="textarea">{{ cform.message() }}</div>
													</div>
                            {{ cform.submit(class_="post-comment-btn",value="Submit") }}
    											</div>
                        </form>
    										</div>
  										</div>
  										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
								</div>
							<!-- \\ -->

						</div>


    				</div>
  				</div>
  				<br class="clear" />
			</div>
		</div>
		<div class="blog-sidebar-r">
  			<!-- // widget // -->
  				<div class="blog-widget search-widget">
  					<h2>Search</h2>
  					<input type="text" value="" placeholder="To search type and hit enter">
  				</div>
  			<!-- \\ widget \\ -->
  			<!-- // widget // -->
  				<div class="blog-widget text-widget">
  					<h2>About the author</h2>
  					<p>The author is an established businessman, travel enthusiast and occassional writer.</p>
  				</div>
  			<!-- \\ widget \\ -->
  			<!-- // widget // -->
  				<div class="blog-widget recent-widget">
  					<h2>RECENT POSTS</h2>
  					<nav>
  						<ul>
  							<li><a href="#">Art</a></li>
  							<li><a href="#">Business</a></li>
  							<li><a href="#">Design</a></li>
  							<li><a href="#">Travel</a></li>
  						</ul>
  					</nav>
  				</div>
  			<!-- \\ widget \\ -->
  			<!-- // widget // -->
  				<div class="blog-widget tweeter-widget">
  					<h2>recent tweets</h2>
  					<div class="tweets-row">
  						<!-- // -->
  						<div class="tweeter-item">
  							<div class="tweeter-item-l"></div>
  							<div class="tweeter-item-r">
  								<span>Unde omnis iste natus doxes sit voluptatem accusantium doloremque</span>
  								<b>About 20 days ago</b>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<!-- \\ -->
  						<!-- // -->
  						<div class="tweeter-item">
  							<div class="tweeter-item-l"></div>
  							<div class="tweeter-item-r">
  								<span>Iste natus doxes sit voluptatem accusantium dolorem</span>
  								<b>About 20 days ago</b>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<!-- \\ -->
  						<!-- // -->
  						<div class="tweeter-item">
  							<div class="tweeter-item-l"></div>
  							<div class="tweeter-item-r">
  								<span>Voluptatem accusantium dolorem la dantium eaque ipsa.</span>
  								<b>About 20 days ago</b>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<!-- \\ -->
  					</div>
  				</div>
  			<!-- \\ widget \\ -->
  			<!-- // widget // -->
  				<div class="blog-widget tags-widget">
  					<h2>Tags</h2>
  					<div class="tags-row">
              {% for tag in post.tags[0].__str__().split(',') %}
                <a href="#">{{ tag }}</a>
              {% endfor %}
            </div>
  					<div class="clear"></div>
  				</div>
  			<!-- \\ widget \\ -->
		</div>
		<div class="clear"></div>

		</div>
	</div>

</div>
<!-- /main-cont -->

{% include 'footer.html' %}

<!-- // scripts // -->
  <script src={{ url_for("static", filename="js/jquery-1.11.3.min.js")}}></script>
  <script src={{ url_for("static", filename="js/jqeury.appear.js")}}></script>
  <script src={{ url_for("static", filename="js/jquery-ui.min.js")}}></script>
  <script src={{ url_for("static", filename="js/owl.carousel.min.js")}}></script>
  <script src={{ url_for("static", filename="js/bxSlider.js")}}></script>
  <script src={{ url_for("static", filename="js/custom.select.js")}}></script>
  <script src={{ url_for("static", filename="js/viewport.js")}}></script>
  <script src={{ url_for("static", filename="build/mediaelement-and-player.min.js")}}></script>
  <!-- <script type="text/javascript" src="static/js/twitterfeed.js"></script> -->
  <script src={{ url_for("static", filename="js/script.js")}}></script>
  <script>
  	$(document).ready(function(){
		'use strict';
  		$('audio,video').mediaelementplayer();
    	$('.blog-post-st').bxSlider({
        	infiniteLoop: true,
        	speed: 600,
        	minSlides: 1,
        	maxSlides: 1,
        	moveSlides: 1,
        	auto: true,
        	slideMargin: 0
    	});
  	});
  </script>
<!-- \\ scripts \\ -->
</body>
</html>
