<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta charset="utf-8" /><link rel="icon" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" sizes="60x60"
  	href="{{url_for('static', filename='img/apple-icon-60x60.png')}}">
  <link rel="apple-touch-icon" sizes="72x72"
  	href="{{url_for('static', filename='img/apple-icon-72x72.png')}}">
  <link rel="apple-touch-icon" sizes="76x76"
  	href="{{url_for('static', filename='img/apple-icon-76x76.png')}}">
  <link rel="apple-touch-icon" sizes="114x114"
  	href="{{url_for('static', filename='/img/apple-icon-114x114.png')}}">
  <link rel="apple-touch-icon" sizes="120x120"
  	href="{{url_for('static', filename='img/apple-icon-120x120.png')}}">
  <link rel="apple-touch-icon" sizes="144x144"
  	href="{{url_for('static', filename='img/apple-icon-144x144.png')}}">
  <link rel="apple-touch-icon" sizes="152x152"
  	href="{{url_for('static', filename='img/apple-icon-152x152.png')}}">
  <link rel="apple-touch-icon" sizes="180x180"
  	href="{{url_for('static', filename='img/apple-icon-180x180.png')}}">
  <link rel="icon" type="img/png" sizes="192x192"
  	href="{{url_for('static', filename='img/android-icon-192x192.png')}}">
  <link rel="icon" type="img/png" sizes="32x32"
  	href="{{url_for('static', filename='img/favicon-32x32.png')}}">
  <link rel="icon" type="img/png" sizes="96x96"
  	href="{{url_for('static', filename='img/favicon-96x96.png')}}">
  <link rel="icon" type="img/png" sizes="16x16"
  	href="{{url_for('static', filename='img/favicon-16x16.png')}}">

<link rel="manifest" href="{{url_for('static',filename='img/manifest.json')}}" />
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{url_for('static',filename='css/jquery.formstyler.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />


  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script>
		google.maps.event.addDomListener(window, 'load', init);


    function init() {

      var pos = { lat: 42.26341, lon: -71.80219 };
      var infoWindow = new google.maps.InfoWindow;
      var mapOptions = {
        zoom: 14,
        disableDefaultUI: true,
        zoomControl: true,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.LARGE,
          position: google.maps.ControlPosition.LEFT_CENTER
        },
        scrollwheel: true,
        center: new google.maps.LatLng(pos.lat, pos.lon), // Worcester central location
      };

      var mapElement = document.getElementById('map');
      var map = new google.maps.Map(mapElement, mapOptions);

      google.maps.event.addDomListener(window, 'resize', init);
      google.maps.event.addListenerOnce(map, 'idle', function(){
        setTimeout( function() {
          var place = new google.maps.LatLng(pos.lat, pos.lon);
          var image = new google.maps.MarkerImage('../static/img/map.png',
            new google.maps.Size(19, 29),
            new google.maps.Point(0,0),
            new google.maps.Point(0, 32));
          var marker = new google.maps.Marker({
            map:map,
            icon: image,
            draggable:false,
            animation: google.maps.Animation.DROP,
            position: place
          }); $('.map-contacts').each(function(index){ $(this).delay(141*index).fadeIn(); }); } , 500);
        });

  }//end init
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvUZiGwTK9hvjgCv6IMj-g8io_0bs3WBE&callback=init">
  </script>
	<script src="static/js/jquery-1.11.3.min.js"></script>
	<script src="static/js/jquery.form.js"></script>
</head>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ B ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ O ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ D ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Y ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<body>

{% include 'header.html' %}

<!-- main-cont -->
<div class="main-cont">
 	<div class="contacts-map">
 		<div id="map"></div>
 	</div>

 	<div class="contacts-page-holder">
 	<div class="contacts-page">
		<header class="page-lbl">
			<div class="offer-slider-lbl">GET IN TOUCH WITH US</div>
			<p>For questions comments, concerns, and other feedback;</p>
		</header>

		<div class="contacts-colls">
			<!-- <div class="contacts-colls-l">
				<div class="contact-colls-lbl">OUR OFFICE (USA)</div>
				<div class="contacts-colls-txt">
					<p>Address: 20 Lyon St, 01606 Worcester, MA </p>
					<p>Telephones: +1-857-250-9582</p>
					<p>E-mail: info@myafricatours.com</p>
					<p>Skype: myafricatours</p>
					<div class="side-social">
        				<a class="side-social-twitter" href="https://twitter.com/myafricatours"></a>
        				<a class="side-social-facebook" href="https://www.facebook.com/myafricatours/"></a>
        				<a class="side-social-vimeo" href="#"></a>
        				<a class="side-social-pinterest" href="#"></a>
        				<a class="side-social-instagram" href="https://www.instagram.com/myafricatours/"></a>
      				</div>
				</div>
			</div> -->

			<div class="contacts-colls-c">
  				<div class="contacts-colls-rb">
					<div class="contact-colls-lbl">Talk to Us</div>
					<div class="booking-form">
						<form autocomplete="on", id="contact_form" method="post">
							{{ contactform.csrf_token }}
              <div class="booking-form-i">
                <label>Last Name:</label>
                <!-- <div class="input"><input type="text" name="lastName" value="" /></div> -->
                <div class="input">{{ contactform.lastname(type="text",value="") }}</div>
              </div>
							<div class="booking-form-i">
								<label>First Name:</label>
								<div class="input">{{ contactform.firstname(type="text",value="") }}</div>
							</div>
							<div class="booking-form-i">
								<label>Email Adress:</label>
								<!-- <div class="input"><input type="text" name="Email" value="" /></div> -->
								<div class="input">{{ contactform.email(type="text",value="") }}</div>
							</div>
							<div class="booking-form-i">
								<label>Website:</label>
								<!-- <div class="input"><input type="text" name="Website" value="" /></div> -->
								<div class="input">{{ contactform.website(type="text",value="") }}</div>
							</div>
							<div class="booking-form-i textarea">
								<label>Message:</label>
								<div class="textarea-wrapper">
									<!-- <textarea name="Message"></textarea> -->
									{{ contactform.message() }}
								</div>
							</div>
							<div class="clear"></div>
							<!-- <button class="contacts-send">Send message</button> -->
							{{ contactform.submit(class_="contacts-send",value="Send message") }}
						</form>
						<!--
						<script type="text/javascript">
							$(function () {
								$('#contact_form').ajaxForm({
									beforeSubmit : function() {return init_validation('#contact_form');},
									success : function() {
										alert('Your message has been sent!');
										$('#contact_form').resetForm();
									}
								});
							});
						</script>
					-->
					</div>
  				</div>
  			<div class="clear"></div>
			</div>
			<!-- <div class="contacts-colls-l">
				<div class="contact-colls-lbl">OUR OFFICE (UGANDA)</div>
				<div class="contacts-colls-txt">
					<p>Address: Mukwano Mall, Rashid Khamis Road, Suite 87, Kampala Uganda</p>
					<p>Telephones: +256-701-82611</p>
					<p>E-mail: info@myafricatours.com</p>
					<p>Skype: myafricatours</p>
					<div class="side-social">
        				<a class="side-social-twitter" href="https://twitter.com/myafricatours"></a>
        				<a class="side-social-facebook" href="https://www.facebook.com/myafricatours/"></a>
        				<a class="side-social-vimeo" href="#"></a>
        				<a class="side-social-pinterest" href="#"></a>
        				<a class="side-social-instagram" href="https://www.instagram.com/myafricatours/"></a>
      				</div>
				</div>
			</div> -->
			</div>
		<div class="clear"></div>
 	</div>
 	</div>

</div>
<!-- /main-cont -->

{% include 'footer.html' %}

<!-- // scripts // -->
  <script src="static/js/jquery-1.11.3.min.js"></script>
  <script src="static/js/jqeury.appear.js"></script>
  <script src="static/js/jquery-ui.min.js"></script>
  <script src="static/js/owl.carousel.min.js"></script>
  <script src="static/js/bxSlider.js"></script>
  <script src="static/js/jquery.formstyler.js"></script>
  <script src="static/js/custom.select.js"></script>
  <script type="text/javascript" src="static/js/twitterfeed.js"></script>
  <script src="static/js/script.js"></script>
  <script>
  	$(document).ready(function(){
		'use strict';
		(function($) {
			$(function() {
				$('.checkbox input').styler({
					selectSearch: true
				});
			});
		})(jQuery);
  	});
  </script>
<!-- \\ scripts \\ -->

</body>
</html>
