{% block content %}
<form autocomplete="on" method="post">
  {{ tsf.csrf_token }}
  <div class="two-colls-left">
    <!-- <div class="srch-results-lbl fly-in">
      <span>2,435 results found.</span>
    </div> -->

    <div class="side-block fly-in">
      <div class="side-block-search">
        <div class="page-search-p">
        <!-- // -->
        <div class="srch-tab-line">
          <div class="srch-tab-left">
            <label>Tour</label>
          <!-- <div class="input-a"><input type="text" value="" placeholder="example: france"></div>	 -->
            <div class="input-a">
              {{ tsf.tour(type="text",value="",placeholder="example: Nile tour") }}
            </div>
          </div>
          <div class="srch-tab-right">
            <label>Budget</label>
            <!-- <div class="input-a"><input type="text" value="" placeholder="Vienna"></div>	 -->
            <div class="input-a">
              {{ tsf.budget(type="text",value="",placeholder="example: $5759") }}
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <!-- \\ -->

        <!-- // -->
        <div class="srch-tab-line">
          <div class="srch-tab-left">
            <label>Departure</label>
            <!-- <div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>	 -->
            <div class="input-a">
              {{ tsf.departure(class_="date-inpt",type="text",value="",placeholder="mm/dd/yy") }}
              <span class="date-icon"></span>
            </div>
          </div>
          <div class="srch-tab-right">
            <label>Return</label>
            <div class="input-a">
              {{ tsf.arrival(class_="date-inpt",type="text",value="",placeholder="mm/dd/yy") }}
              <span class="date-icon"></span></div>
          </div>
          <div class="clear"></div>
        </div>
        <!-- \\ -->
        <div class="srch-tab-line no-margin-bottom">
          <div class="srch-tab-left transformed">
            <label>Hotel stars</label>
            <div class="select-wrapper">
              {{ tsf.rating(class_="custom-select") }}
            </div>
          </div>
          <div class="srch-tab-right transformed">
            <label>peoples</label>
            <div class="select-wrapper">
              {{ tsf.people(class_="custom-select") }}
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <!-- \\ -->
        {{ tsf.submit(class_="srch-btn",id="srch-btn", value="Search") }}
          </div>

      </div>
    </div>
  </div>
</form>
{% endblock %}
