{% block content %}
	<footer class="footer-a">
		<div class="wrapper-padding">
			<div class="section">
				<div class="footer-lbl">Get In Touch (USA)</div>
				<div class="footer-adress">Address: 20 Lyon St, <br />01606 Worcester, Massachusetts</div>
				<div class="footer-phones">Telephones: <a href="tel:+1-857-250-9582">+1-857-250-9582</a></div>
				<div class="footer-email">E-mail: <a href="mailto:info@myafricatours.com">info@myafricatours.com </a></div>
				<div class="footer-skype">Skype: myafricatours</div>
			</div>
			<div class="section">
				<div class="footer-lbl">Get In Touch (UGANDA))</div>
				<div class="footer-adress">Address: Mukwano Mall, Rashid Khamis Road, Suite 87<br /> Kampala, Uganda</div>
				<div class="footer-phones">Telephones: <a href="tel:+256-701-824611">+256-701-824611</a></div>
				<div class="footer-email">E-mail: <a href="mailto:info@myafricatours.com">info@myafricatours.com </a></div>
				<div class="footer-skype">Skype: myafricatours</div>
			</div>
			<div class="section">
				<div class="footer-lbl">Featured Tours</div>
				<div class="footer-tours">
					{% for image in Images.query.filter_by(category='footer').all() %}
					<div class="footer-tour">
						<div class="footer-tour-l"><a href={{ url_for("tour_detail",tour_name=image.tour.name.__str__()) }}>
							<img alt="Zanzibar" src={{ url_for('static', filename='img/'~image.filename.__str__()) }} /></a></div>
						<div class="footer-tour-r">
							<div class="footer-tour-a">{{ image.tour.name.__str__() }}</div>
							<!-- <div class="footer-tour-b">Country: {{ image.tour.country.__str__() }}</div> -->
							<div class="footer-tour-c">{{ '$'~image.tour.price|int }}</div>
						</div>
						<div class="clear"></div>
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- <div class="section">
				<div class="footer-lbl">Twitter widget</div>
				<div class="twitter-wiget">
					<div id="twitter-feed"></div>
				</div>
			</div> -->
			<div class="section">
				<form autocomplete="on" method="post" accept-charset="utf-8">
					  {{ newsletter.csrf_token }}
					<div class="footer-lbl">newsletter sign up</div>
					<div class="footer-subscribe">
					<div class="footer-subscribe-a">
						{{ newsletter.email(class_="submit",maxlength="255",id="user-email",placeholder="myname@email.com",type="text",size="50") }}
					</div>
					</div> {{ newsletter.submit(class_="footer-subscribe-btn",type="submit",value="Sign up") }}
				</form>
			</div>
		</div>
		<div class="clear"></div>
	</footer>

	<footer class="footer-b">
		<div class="wrapper-padding">
			<div class="footer-left">© Copyright - 2017 - My Africa Tours.</div>
			<div class="footer-social">
				<a href="https://twitter.com/myafricatours" class="footer-twitter"></a>
				<a href="https://www.facebook.com/myafricatours/" class="footer-facebook"></a>
				<!-- <a href="#" class="social-vimeo"></a> -->
				<!-- <a href="#" class="social-pinterest"></a> -->
				<a href="https://www.instagram.com/myafricatours/" class="footer-instagram"></a>
			</div>
			<div class="clear"></div>
		</div>
	</footer>
{% endblock %}
