{% block content %}
<!-- // authorize // -->
<!-- <div class="overlay"></div> -->
<!-- <div class="autorize-popup">
		<div class="autorize-tabs">
			<a href="#" class="autorize-tab-a current">Sign in</a>
			<a href="#" class="autorize-tab-b">Register</a>
			<a href="#" class="autorize-close"></a>
			<div class="clear"></div>
		</div>
		<section class="autorize-tab-content">
			<div class="autorize-padding">
				<h6 class="autorize-lbl">Welocome! Login in to Your Accont</h6>
				<input type="text" value="" placeholder="Name">
				<input type="text" value="" placeholder="Password">
				<footer class="autorize-bottom">
					<button class="authorize-btn">Login</button>
					<a href="#" class="authorize-forget-pass">Forgot your password?</a>
					<div class="clear"></div>
				</footer>
			</div>
		</section>
		<section class="autorize-tab-content">
			<div class="autorize-padding">
				<h6 class="autorize-lbl">Register for Your Account</h6>
				<input type="text" value="" placeholder="Name">
				<input type="text" value="" placeholder="Password">
				<footer class="autorize-bottom">
					<button class="authorize-btn">Registration</button>
					<div class="clear"></div>
				</footer>
			</div>
		</section>
	</div> -->
<!-- \\ authorize \\-->

<header id="top">
	<div class="header-a">
		<div class="wrapper-padding">
			<div class="header-phone"><span>1-857-250-9582</span></div>
			<!-- <div class="header-account">
				<a href="#">My account</a>
			</div> -->
			<div class="header-social">
				<a href="https://twitter.com/myafricatours" class="social-twitter"></a>
				<a href="https://www.facebook.com/myafricatours/" class="social-facebook"></a>
				<!-- <a href="#" class="social-vimeo"></a> -->
				<!-- <a href="#" class="social-pinterest"></a> -->
				<a href="https://www.instagram.com/myafricatours/" class="social-instagram"></a>
			</div>
			<!-- <div class="header-viewed">
				<a href="#" class="header-viewed-btn">recently viewed</a>

				<div class="viewed-drop">
					<div class="viewed-drop-a">

						<div class="viewed-item">
							<div class="viewed-item-l">
								<a href="#"><img alt="" src="../static/img/v-item-01.jpg" /></a>
							</div>
							<div class="viewed-item-r">
								<div class="viewed-item-lbl"><a href="#">Kidepo Tour</a></div>
								<div class="viewed-item-cat">Nairobi: Kenya</div>
								<div class="viewed-price">152$</div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="viewed-item">
							<div class="viewed-item-l">
								<a href="#"><img alt="" src="../static/img/v-item-02.jpg" /></a>
							</div>
							<div class="viewed-item-r">
								<div class="viewed-item-lbl"><a href="#">Zanzibar Tour</a></div>
								<div class="viewed-item-cat">Zanzibar, Tanzania</div>
								<div class="viewed-price">300$</div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="viewed-item">
							<div class="viewed-item-l">
								<a href="#"><img alt="" src="../static/img/v-item-03.jpg" /></a>
							</div>
							<div class="viewed-item-r">
								<div class="viewed-item-lbl"><a href="#">Best Western Hotel in East Africa</a></div>
								<div class="viewed-item-cat">location: Uganda</div>
								<div class="viewed-price">2300$</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div> -->
			<div class="header-lang">
				<a href="#"><img alt="" src="../static/img/en.gif" /></a>
				<div class="langs-drop">
					<div><a href="#" class="langs-item en">english</a></div>
					<div><a href="#" class="langs-item fr">francais</a></div>
					<div><a href="#" class="langs-item de">deutsch</a></div>
					<div><a href="#" class="langs-item it">italiano</a></div>
				</div>
			</div>
			<div class="header-curency">
				<a href="#">USD</a>
				<div class="curency-drop">
					<div><a href="#">usd</a></div>
					<div><a href="#">Eur</a></div>
					<div><a href="#">GBR</a></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="header-b">
		<!-- // mobile menu // -->
		<div class="mobile-menu">
			<nav>
				<ul>
					<li><a href={{ url_for( "home") }}>HOME</a>
						<!-- <ul>
														<li><a href="index.html">Home style one</a></li>
														<li><a href="index_02.html">Home style two</a></li>
														<li><a href="index_03.html">Home style three</a></li>
														<li><a href="index_04.html">Home style four</a></li>
													</ul> -->
					</li>
					<!-- <li><a class="has-child" href="#">Hotels</a>
													<ul>
														<li><a href="hotel_list.html">Hotels standard list</a></li>
														<li><a href="hotel_simple_style.html">Hotels simple style</a></li>
														<li><a href="hotel_detail_style.html">Hotels detail style</a></li>
														<li><a href="hotel_detail.html">Hotel item page</a></li>
														<li><a href="hotel_booking.html">Hotel booking page</a></li>
														<li><a href="#">booking complete page</a></li>
													</ul>
												</li> -->
					<!-- <li><a class="has-child" href="#">Flights</a>
							<ul>
								<li><a href="flight_round_trip.html">Flights round trip</a></li>
								<li><a href="flight_one_way.html">flights one way trip</a></li>
								<li><a href="flight_alternative.html">flights alternative style</a></li>
								<li><a href="flight_detail.html">Flights detail page</a></li>
								<li><a href="flight_booking.html">Flights booking page</a></li>
								<li><a href="booking_complete.html">booking complete</a></li>
							</ul>
						</li> -->
					<li><a href={{ url_for( "tours") }}>Tours</a>
						<!-- <ul>
								<li><a href="tour_alternative.html">Tours list style</a></li>
								<li><a href="tour_grid.html">tours grid style</a></li>
								<li><a href="tour_simple.html">Tours simple style</a></li>
								<li><a href="tour_detail.html">Tour detail page</a></li>
								<li><a href="tour_booking.html">tour booking page</a></li>
								<li><a href="booking_complete.html">booking complete</a></li>
							</ul> -->
					</li>
					<li><a href={{ url_for( "about") }}>About Us</a>
						<!-- <ul>
								<li><a href="about_us.html">about us style one</a></li>

								<li><a href="services.html">services</a></li>
								<li><a href="contacts.html">contact us</a></li>
							</ul> -->
					</li>
					<!-- <li><a class="has-child" href="/portfolio">Portfolio</a> -->
					<!-- <ul>
								<li><a href="portfolio_three_collumns.html">Portfolio three columns</a></li>
								<li><a href="portfolio_four_collumns.html">portfolio four columns</a></li>
								<li><a href="item_page.html">item page</a></li>
								<li><a href="item_page_full_width.html">Item page full width style</a></li>
							</ul> -->
					<!-- </li> -->
					<li><a href={{ url_for( "blog") }}>Blog</a>
						<!-- <ul>
								<li><a href="blog_with_sidebar.html">Blog with sidebar</a></li>
								<li><a href="blog_masonry.html">blog masonry style</a></li>
								<li><a href="standart_blog_post.html">Blog post example</a></li>
							</ul> -->
					</li>
					<!-- <li><a class="has-child" href="#">Features</a>
													<ul>
														<li><a href="typography.html">typography</a></li>
														<li><a href="shortcodes.html">shortcodes</a></li>
														<li><a href="interactive_elements.html">interactive elements</a></li>
														<li><a href="cover_galleries.html">cover galleries</a></li>
														<li><a href="columns.html">columns</a></li>
													</ul>
												</li> -->
					<li><a href={{ url_for( "contact") }}>CONTACTS</a></li>
				</ul>
			</nav>
		</div>
		<!-- \\ mobile menu \\ -->

		<div class="wrapper-padding">
			<div class="header-logo"><a href={{url_for( "home") }}><img alt="" src="../static/img/mytlogo.jpeg" /></a>
			</div>
			<div class="header-right">
				<div class="hdr-srch">
					<a href="#" class="hdr-srch-btn"></a>
				</div>
				<div class="hdr-srch-overlay">
					<div class="hdr-srch-overlay-a">
						<input type="text" value="" placeholder="Start typing...">
						<a href="#" class="srch-close"></a>
						<div class="clear"></div>
					</div>
				</div>
				<div class="hdr-srch-devider"></div>
				<a href="#" class="menu-btn"></a>
				<nav class="header-nav">
					<ul>
						<li><a href={{ url_for( "home") }}>Home</a></li>
						<!-- <li><a href="#">Hotels</a>
							<ul>
								<li><a href="hotel_list.html">Hotels standard list</a></li>
								<li><a href="hotel_simple_style.html">Hotels simple style</a></li>
								<li><a href="hotel_detail_style.html">Hotels detail style</a></li>
								<li><a href="hotel_detail.html">Hotel item page</a></li>
								<li><a href="hotel_booking.html">Hotel booking page</a></li>
								<li><a href="booking_complete.html">booking complete page</a></li>
							</ul>
						</li> -->
						<li><a href={{ url_for( "tours") }}>Tours</a></li>
						<li><a href={{ url_for( "about") }}>About Us</a>
							<!-- <ul>
								<li><a href="about_us.html">about us style one</a></li>
								<li><a href="services.html">services</a></li>
								<li><a href="contacts.html">contact us</a></li>
							</ul> -->
						</li>
						<!-- <li><a href="/portfolio">Portfolio</a>
							<ul>
								<li><a href="portfolio_three_collumns.html">Portfolio three columns</a></li>
								<li><a href="portfolio_four_collumns.html">portfolio four columns</a></li>
								<li><a href="item_page.html">item page</a></li>
								<li><a href="item_page_full_width.html">Item page full width style</a></li>
							</ul>
						</li> -->
						<li><a href={{ url_for( "blog")}}>Blog</a></li>
						<li><a href={{ url_for( "contact") }}>Contact Us</a></li>
					</ul>
				</nav>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</header>
{% endblock %}
