<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta charset="utf-8" />
  <link rel="icon" href="favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='img/apple-icon-60x60.png')}}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='img/apple-icon-72x72.png')}}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='img/apple-icon-76x76.png')}}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='/img/apple-icon-114x114.png')}}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='img/apple-icon-120x120.png')}}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='img/apple-icon-144x144.png')}}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='img/apple-icon-152x152.png')}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='img/apple-icon-180x180.png')}}">
  <link rel="icon" type="img/png" sizes="192x192" href="{{url_for('static', filename='img/android-icon-192x192.png')}}">
  <link rel="icon" type="img/png" sizes="32x32" href="{{url_for('static', filename='img/favicon-32x32.png')}}">
  <link rel="icon" type="img/png" sizes="96x96" href="{{url_for('static', filename='img/favicon-96x96.png')}}">
  <link rel="icon" type="img/png" sizes="16x16" href="{{url_for('static', filename='img/favicon-16x16.png')}}">

  <link rel="stylesheet" href="{{url_for('static',filename='css/jquery-ui.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/idangerous.swiper.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
</head>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ B ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ O ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ D ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Y ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<body>

  {% include 'header.html' %}

  <!-- main-cont -->
  <div class="main-cont">
    <div class="body-padding">
      <div class="mp-slider">
        <!-- // slider // -->
        <div class="mp-slider-row">
          <div class="swiper-container">
            <a href="#" class="arrow-left"></a>
            <a href="#" class="arrow-right"></a>
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slide-section" style="background:url(/static/img/myt_home_slider1.jpg) center top no-repeat;">
                  <div class="mp-slider-lbl">A great journey begins with a small step</div>
                  <div class="mp-slider-lbl-a">A great journey also begins with My Africa Tours.</div>
                  <div class="mp-slider-btn"><a href="/tours" class="btn-a">Learn more</a></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide-section slide-b" style="background:url(/static/img/myt_home_slider2.jpg) center top no-repeat;">
                  <div class="mp-slider-lbl">Relax and enjoy your trips with My Africa Tours.</div>
                  <div class="mp-slider-lbl-a">We've got what you're looking for.</div>
                  <div class="mp-slider-btn"><a href="/tours" class="btn-a">Learn more</a></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide-section slide-b" style="background:url(/static/img/myt_home_slider3.jpg) center top no-repeat;">
                  <div class="mp-slider-lbl">Planning a trip with your friends?</div>
                  <div class="mp-slider-lbl-a">Enrich your safari with recommendations from our travel experts.</div>
                  <div class="mp-slider-btn"><a href="/tours" class="btn-a">Learn more</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- \\ slider \\ -->
      </div>

      <div class="wrapper-a-holder">
        <div class="wrapper-a">

          <!-- // search // -->
          <div class="page-search search-type-a">
            <nav class="page-search-tabs">
              <!-- <div class="search-tab ">Hotels</div> -->
              <div class="search-tab active">Tour Search</div>
              <!-- <div class="search-tab nth">Tickets</div> -->
              <div class="clear"></div>
            </nav>
            <div class="page-search-content">
              <!-- // tab content // -->
              <!-- <div class="search-tab-content hotels-tab">
				<!-- // tab content hotels // -->

              <!-- // tab content tours // -->
              <form>
                {{ tform.csrf }}
                <div class="search-tab-content tours-tab">
                  <div class="page-search-p">
                    <!-- // -->
                    <div class="srch-tab-line">
                      <div class="srch-tab-left">
                        <label>Country</label>
                        <div class="input-a">
                          <!-- <input type="text" value="" placeholder="example: Kenya"> -->
                          <!-- {{ tform.tour(value="",placeholder="example: Bwindi Tour") }} -->
                          {{ tform.country(class_="custom-select") }}
                        </div>
                      </div>
                      <div class="srch-tab-right">
                        <label>Budget</label>
                        <div class="input-a">
                          <!-- <input type="text" value="" placeholder="Budget"> -->
                          {{ tform.budget(value="", placeholder="Example: $5670") }}
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <!-- \\ -->
                    <!-- // -->
                    <div class="srch-tab-line">
                      <div class="srch-tab-left">
                        <label>Check in</label>
                        <div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
                      </div>
                      <div class="srch-tab-right">
                        <label>Check out</label>
                        <div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <!-- \\ -->
                    <!-- // -->
                    <div class="srch-tab-line no-margin-bottom">
                      <div class="srch-tab-left transformed">
                        <label>hotel stars</label>
                        <div class="select-wrapper">
                          <select class="custom-select">
									<option>--</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
                  <option>5</option>
								</select>
                        </div>
                      </div>
                      <div class="srch-tab-right transformed">
                        <label>Peoples</label>
                        <div class="select-wrapper">
                          <select class="custom-select">
									<option>--</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <!-- \\ -->

                    <!-- // advanced // -->
                    <div class="search-asvanced">
                      <!-- // -->
                      <div class="srch-tab-line">
                        <label>Price</label>
                        <div class="select-wrapper">
                          <select class="custom-select">
									<option>--</option>
									<option>145$</option>
									<option>225$</option>
									<option>300$</option>
									<option>450$</option>
								</select>
                        </div>
                      </div>
                      <!-- \\ -->
                      <!-- // -->
                      <div class="srch-tab-line no-margin-bottom">
                        <label>Property type</label>
                        <div class="select-wrapper">
                          <select class="custom-select">
									<option>--</option>
									<option>Bungalow</option>
									<option>Flat</option>
									<option>Guest House</option>
									<option>Lodge</option>
								</select>
                        </div>
                      </div>
                      <!-- \\ -->
                    </div>
                    <!-- \\ advanced \\ -->
                  </div>
                  <footer class="search-footer">
                    <a href="#" class="srch-btn">Search</a>
                    <span class="srch-lbl">Advanced Search options</span>
                    <div class="clear"></div>
                  </footer>
                </div>
              </form>
              <!-- // tab content tours // -->

              <!-- // tab content tickets // -->
              <div class="search-tab-content tickets-tab">
                <div class="page-search-p">
                  <!-- // -->
                  <div class="srch-tab-line">
                    <div class="srch-tab-left">
                      <label>From</label>
                      <div class="input-a"><input type="text" value="" placeholder="Austria, vienna"></div>
                    </div>
                    <div class="srch-tab-right">
                      <label>to</label>
                      <div class="input-a"><input type="text" value="" placeholder="--"></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <!-- \\ -->
                  <!-- // -->
                  <div class="srch-tab-line">
                    <div class="srch-tab-left">
                      <label>Departure</label>
                      <div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
                    </div>
                    <div class="srch-tab-right">
                      <label>arrivals</label>
                      <div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <!-- \\ -->

                  <!-- // -->
                  <div class="srch-tab-line no-margin-bottom">
                    <div class="srch-tab-left transformed">
                      <label>Peoples</label>
                      <div class="select-wrapper">
                        <select class="custom-select">
									<option>--</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
                      </div>
                    </div>
                    <div class="srch-tab-right transformed">
                      <label>Class</label>
                      <div class="select-wrapper">
                        <select class="custom-select">
									<option>--</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <!-- \\ -->
                  <!-- // advanced // -->
                  <div class="search-asvanced">
                    <!-- // -->
                    <div class="srch-tab-line no-margin-bottom">
                      <div class="srch-tab-left">
                        <label>Price</label>
                        <div class="select-wrapper">
                          <select class="custom-select">
									<option>--</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
                        </div>
                      </div>
                      <div class="srch-tab-right">
                        <label>Air company</label>
                        <div class="select-wrapper">
                          <select class="custom-select">
									<option>--</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <!-- \\ -->
                  </div>
                  <!-- \\ advanced \\ -->
                </div>
                <footer class="search-footer">
                  <a href="#" class="srch-btn">Search</a>
                  <span class="srch-lbl">Advanced Search options</span>
                  <div class="clear"></div>
                </footer>
              </div>
              <!-- // tab content // -->
            </div>
          </div>
          <!-- \\ search \\ -->

          <!-- // offer // -->
          <!-- <div class="special-offer-a"> -->
          <!-- <div class="special-offer-img"> -->
          <!-- <a href="/tour_detail"><img alt="" src="/static/img/myt_mombasa_sunset.jpg" /></a> -->
          <!-- </div> -->
          <!-- <footer class="special-offer-foot"> -->
          <!-- <div class="special-offer-foot-l"> -->
          <!-- <b>Mombasa sunset tour</b> -->
          <!-- <span>Location:Mombasa, Kenya</span> -->
          <!-- </div> -->
          <!-- <div class="special-offer-foot-r"> -->
          <!-- <b>152$</b> -->
          <!-- <span>avg/night</span> -->
          <!-- </div> -->
          <!-- <div class="clear"></div> -->
          <!-- </footer> -->
          <!-- </div> -->
          <!-- \\ offer \\ -->

          <!-- // offer // -->
          <!-- <div class="special-offer-b"> -->
          <!-- <div class="weather-block"> -->
          <!-- <div class="weather-block-padding"> -->
          <!-- // -->
          <!-- <div class="weather-i"> -->
          <!-- <div class="weather-a">Today</div> -->
          <!-- <div class="weather-b"><img alt="" src="/static/img/weather-icon-02.png" /></div> -->
          <!-- <div class="weather-c">25 C</div> -->
          <!-- </div> -->
          <!-- \\ -->
          <!-- // -->
          <!-- <div class="weather-i"> -->
          <!-- <div class="weather-a">tuesday</div> -->
          <!-- <div class="weather-b"><img alt="" src="/static/img/weather-icon-01.png" /></div> -->
          <!-- <div class="weather-c">35 C</div> -->
          <!-- </div> -->
          <!-- \\ -->
          <!-- // -->
          <!-- <div class="weather-i"> -->
          <!-- <div class="weather-a">Wednesday</div> -->
          <!-- <div class="weather-b"><img alt="" src="/static/img/weather-icon-02.png" /></div> -->
          <!-- <div class="weather-c">15 C</div> -->
          <!-- </div> -->
          <!-- \\ -->
          <!-- <div class="weather-devider"></div> -->
          <!-- <footer class="weather-footer"> -->
          <!-- <a href="#"> -->
          <!-- <span class="weather-foot-link">Find our special tours for</span> -->
          <!-- <span class="weather-foot-link-a">Mombasa</span> -->
          <!-- </a> -->
          <!-- </footer> -->
          <!-- </div> -->
          <!-- </div> -->
          <!-- </div> -->
          <!-- \\ offer \\ -->
          <div class="clear"></div>

        </div>
      </div>

      <div class="mp-offesr">
        <div class="wrapper-padding-a">

          <div class="offer-slider">
            <header class="fly-in page-lbl">
              <b>Special Tours</b>
              <p>Choose from this list recommended by our travel experts.</p>
            </header>
            <div class="fly-in offer-slider-c">
              <div id="offers-a" class="owl-slider">
                <!-- // -->
                {% for image in Images.query.filter_by(category="main").all() %}
                <div class="offer-slider-i">
                  <a class="offer-slider-img" href={{ url_for( "tour_detail",tour_name=image.tour.name.__str__()) }}>
								<img alt="" src={{ url_for('static', filename='img/'~image.filename.__str__()) }} />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
                  <div class="offer-slider-txt">
                    <div class="offer-slider-link">
                      <a href="/tour_detail">{{image.tour.name.__str__()~' Tour, '~image.tour.country.__str__()}}</a>
                    </div>
                    <div class="offer-slider-l">
                      <div class="offer-slider-location">2017 - 2018</div>
                      <nav class="stars">
                        <ul>
                          <li><a href="#"><img alt="" src="/static/img/star-b.png" /></a></li>
                          <li><a href="#"><img alt="" src="/static/img/star-b.png" /></a></li>
                          <li><a href="#"><img alt="" src="/static/img/star-b.png" /></a></li>
                          <li><a href="#"><img alt="" src="/static/img/star-b.png" /></a></li>
                          <li><a href="#"><img alt="" src="/static/img/star-a.png" /></a></li>
                        </ul>
                        <div class="clear"></div>
                      </nav>
                    </div>
                    <div class="offer-slider-r align-right">
                      <b>{{'$'~image.tour.price|int}}</b>
                      <span>price</span>
                    </div>
                    <!-- <div class="offer-slider-devider"></div> -->
                    <div class="clear"></div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="travel_experience">
        <div class="wrapper-padding">
          <header class="fly-in page-lbl">
            <b class="offer-slider-lbl"> Quick Links </b>
            <p>Save on tours and time while enriching your safari experience.</p>
          </header>
          <div class="t-experience-row fly-in">
            <!-- // -->
            <div class="t-experience-i">
              <!-- Image credits: Freepik (from flaticon.com) -->
              <div class="t-experience-a"><a href="#"><img alt="Image by Freepik" src="/static/img/question.png" /></a></div>
              <div class="t-experience-b"><a href="#">Enquire</a></div>
              <div class="t-experience-c">To learn more about available tours and their prices.</div>
            </div>
            <!-- \\ -->
            <!-- // -->
            <div class="t-experience-i">
              <!-- Image credits: Dave Gandy (from flaticon.com) -->
              <div class="t-experience-a"><a href="#"><img alt="Image by Dave Gandy" src="/static/img/callus.png" /></a></div>
              <div class="t-experience-b"><a href="#" id="show">Call Us</a></div>
              <div class="t-experience-c">For more information about our tours and other packages.</div>
            </div>
            <!-- \\ -->
            <!-- // -->
            <div class="t-experience-i">
              <!-- Image credits: Freepik (from flaticon.com) -->
              <div class="t-experience-a"><a href="mailto:info@myafricatours.com"><img alt="Image by Freepik" src="/static/img/emailus.png" /></a></div>
              <div class="t-experience-b"><a href="mailto:info@myafricatours.com">E-Mail Us.</a></div>
              <div class="t-experience-c">For more information about our tours and other packages.</div>
            </div>
            <!-- \\ -->
          </div>
        </div>
      </div>

      <!-- <div class="theme-teaser">
		<div class="theme-teaser-padding">
		<div class="wrapper-padding fly-in">
			<div class="theme-teaser-l">
				<div class="theme-teaser-a">retina ready &f<br>responsive theme</div>
				<div class="theme-teaser-b">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui. Voluptatem sequi nesciunt. </div>
				<a href="#" class="theme-teaser-c">buy it now</a>
			</div>
			<div class="theme-teaser-r"><img alt="" src="/static/img/theme.png" /></div>
			<div class="clear"></div>
		</div>
		</div>
	</div> -->


      <div class="wrapper-padding-a">

        <div class="offer-slider">
          <header class="fly-in page-lbl">
            <b>Featured tours</b>
            <p>Check out these hot tours from East Africa.</p>
          </header>
          <div class="fly-in offer-slider-c">
            <div id="offers" class="owl-slider">
              {% for image in Images.query.filter_by(category="main").all() %}
              <div class="offer-slider-i">
                <a class="offer-slider-img" href={{url_for( "tour_detail",tour_name=image.tour.name.__str__()) }}>
                  <!-- <img alt="" src="/static/img/slide-06.jpg" /> -->
                  <img alt="" src={{ url_for( 'static',filename='img/' ~image.filename.__str__()) }} />
                  <span class="offer-slider-overlay">
								<span class="offer-slider-btn">view details</span>
                  </span>
                </a>
                <div class="offer-slider-txt">
                  <div class="offer-slider-link"><a href="tour_detail">{{ image.tour.name~', '~image.tour.country }}</a></div>
                  <div class="offer-slider-l">
                    <div class="offer-slider-location">2017 - 2018</div>
                    <nav class="stars">
                      <ul>
                        <li><a href="#"><img alt="" src="/static/img/star-b.png" /></a></li>
                        <li><a href="#"><img alt="" src="/static/img/star-b.png" /></a></li>
                        <li><a href="#"><img alt="" src="/static/img/star-b.png" /></a></li>
                        <li><a href="#"><img alt="" src="/static/img/star-b.png" /></a></li>
                        <li><a href="#"><img alt="" src="/static/img/star-a.png" /></a></li>
                      </ul>
                      <div class="clear"></div>
                    </nav>
                  </div>
                  <div class="offer-slider-r">
                    <b>{{ '$'~image.tour.price|int }}</b>
                    <span>price</span>
                  </div>
                  <!-- <div class="offer-slider-devider"></div>								 -->
                  <div class="clear"></div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="partners-wrapper no-margin">
		<div class="wrapper-padding">
			<header class="fly-in page-lbl">
				<b>Our parthners</b>
				<p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.</p>
			</header>
			<div class="partners fly-in">
				<a href="#"><img alt="" src="/static/img/partner-01.png" /></a>
				<a href="#"><img alt="" src="/static/img/partner-02.png" /></a>
				<a href="#"><img alt="" src="/static/img/partner-03.png" /></a>
				<a href="#"><img alt="" src="/static/img/partner-04.png" /></a>
				<a href="#"><img alt="" src="/static/img/partner-05.png" /></a>
				<a href="#"><img alt="" src="/static/img/partner-06.png" /></a>
			</div>
		</div>
	   </div> -->

    </div>
  </div>


  <!-- /main-cont -->

  {% include 'footer.html' %}

  <!-- // scripts // -->
  <!-- <script src="{{ url_for('static', filename='bower/react/react.min.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='bower/react/react-dom.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/idangerous.swiper.js') }}"></script>
  <script src="{{ url_for('static', filename='js/slideInit.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bxSlider.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jqeury.appear.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.select.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/twitterfeed.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <!-- \\ scripts \\ -->

</body>

</html>
