<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta charset="utf-8" /><link rel="icon" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" sizes="60x60"
  	href="{{url_for('static', filename='img/apple-icon-60x60.png')}}">
  <link rel="apple-touch-icon" sizes="72x72"
  	href="{{url_for('static', filename='img/apple-icon-72x72.png')}}">
  <link rel="apple-touch-icon" sizes="76x76"
  	href="{{url_for('static', filename='img/apple-icon-76x76.png')}}">
  <link rel="apple-touch-icon" sizes="114x114"
  	href="{{url_for('static', filename='/img/apple-icon-114x114.png')}}">
  <link rel="apple-touch-icon" sizes="120x120"
  	href="{{url_for('static', filename='img/apple-icon-120x120.png')}}">
  <link rel="apple-touch-icon" sizes="144x144"
  	href="{{url_for('static', filename='img/apple-icon-144x144.png')}}">
  <link rel="apple-touch-icon" sizes="152x152"
  	href="{{url_for('static', filename='img/apple-icon-152x152.png')}}">
  <link rel="apple-touch-icon" sizes="180x180"
  	href="{{url_for('static', filename='img/apple-icon-180x180.png')}}">
  <link rel="icon" type="img/png" sizes="192x192"
  	href="{{url_for('static', filename='img/android-icon-192x192.png')}}">
  <link rel="icon" type="img/png" sizes="32x32"
  	href="{{url_for('static', filename='img/favicon-32x32.png')}}">
  <link rel="icon" type="img/png" sizes="96x96"
  	href="{{url_for('static', filename='img/favicon-96x96.png')}}">
  <link rel="icon" type="img/png" sizes="16x16"
  	href="{{url_for('static', filename='img/favicon-16x16.png')}}">

  <link rel="stylesheet" href="{{url_for('static',filename='source/jquery.fancybox.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.formstyler.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />


</head>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ B ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ O ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ D ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Y ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<body class="gray-inner">

{% include 'header.html' %}

<!-- main-cont -->
<div class="main-cont">

	<div class="inner-page">
		<div class="inner-breadcrumbs">
			<div class="content-wrapper">
				<div class="page-title">portfolio</div>
				<div class="breadcrumbs">
        			<a href="#">Home</a> / <span>portfolio</span>
      			</div>
      			<div class="clear"></div>
      		</div>
		</div>

		<div class="content-wrapper">
		<div class="portfolio-filters">
			<nav>
				<ul>
					<li class="active"><a data-sort="all" href="#">All</a></li>
					<li><a data-sort="countries" href="#">countries</a></li>
					<li><a data-sort="travel" href="#">travel</a></li>
					<li><a data-sort="photography" href="#">photography</a></li>
				</ul>
			</nav>
		</div>
		</div>
		<div class="portfolio-holder portfolio-holder-three">
		<div class="portfolio-three-colls">
			<!-- // -->
			<div class="portfolio-i photography">
				<div class="portfolio-i-img">
					<div class="portfolio-i-over">
						<div class="portfolio-i-over-a">
							<div class="portfolio-i-over-b">
								<a href="img/portfolio-b-01.jpg" data-fancybox-group="gallery" class="fancybox portfolio-zoom"></a>
								<a href="#" class="portfolio-more"></a>
							</div>
						</div>
					</div>
					<img alt="" src="img/portfolio-b-01.jpg">
				</div>
				<div class="portfolio-i-text">
					<b>day dreamer</b>
					<span>Photography</span>
				</div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="portfolio-i countries">
				<div class="portfolio-i-img">
					<div class="portfolio-i-over">
						<div class="portfolio-i-over-a">
							<div class="portfolio-i-over-b">
								<a href="img/portfolio-b-02.jpg" data-fancybox-group="gallery" class="fancybox portfolio-zoom"></a>
								<a href="#" class="portfolio-more"></a>
							</div>
						</div>
					</div>
					<img alt="" src="img/portfolio-b-02.jpg">
				</div>
				<div class="portfolio-i-text">
					<b>red Bicycle</b>
					<span>Countries</span>
				</div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="portfolio-i travel">
				<div class="portfolio-i-img">
					<div class="portfolio-i-over">
						<div class="portfolio-i-over-a">
							<div class="portfolio-i-over-b">
								<a href="img/portfolio-b-03.jpg" data-fancybox-group="gallery" class="fancybox portfolio-zoom"></a>
								<a href="#" class="portfolio-more"></a>
							</div>
						</div>
					</div>
					<img alt="" src="img/portfolio-b-03.jpg">
				</div>
				<div class="portfolio-i-text">
					<b>Happy peoples</b>
					<span>Travel</span>
				</div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="portfolio-i photography">
				<div class="portfolio-i-img">
					<div class="portfolio-i-over">
						<div class="portfolio-i-over-a">
							<div class="portfolio-i-over-b">
								<a href="img/portfolio-b-04.jpg" data-fancybox-group="gallery" class="fancybox portfolio-zoom"></a>
								<a href="#" class="portfolio-more"></a>
							</div>
						</div>
					</div>
					<img alt="" src="img/portfolio-b-04.jpg">
				</div>
				<div class="portfolio-i-text">
					<b>Cup of hot drink</b>
					<span>Photography</span>
				</div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="portfolio-i countries">
				<div class="portfolio-i-img">
					<div class="portfolio-i-over">
						<div class="portfolio-i-over-a">
							<div class="portfolio-i-over-b">
								<a href="img/portfolio-b-05.jpg" data-fancybox-group="gallery" class="fancybox portfolio-zoom"></a>
								<a href="#" class="portfolio-more"></a>
							</div>
						</div>
					</div>
					<img alt="" src="img/portfolio-b-05.jpg">
				</div>
				<div class="portfolio-i-text">
					<b>Golden Gate Bridge</b>
					<span>Countries</span>
				</div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="portfolio-i travel">
				<div class="portfolio-i-img">
					<div class="portfolio-i-over">
						<div class="portfolio-i-over-a">
							<div class="portfolio-i-over-b">
								<a href="img/portfolio-b-06.jpg" data-fancybox-group="gallery" class="fancybox portfolio-zoom"></a>
								<a href="#" class="portfolio-more"></a>
							</div>
						</div>
					</div>
					<img alt="" src="img/portfolio-b-06.jpg">
				</div>
				<div class="portfolio-i-text">
					<b>grinded coffee</b>
					<span>Travel</span>
				</div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="portfolio-i photography">
				<div class="portfolio-i-img">
					<div class="portfolio-i-over">
						<div class="portfolio-i-over-a">
							<div class="portfolio-i-over-b">
								<a href="img/portfolio-b-07.jpg" data-fancybox-group="gallery" class="fancybox portfolio-zoom"></a>
								<a href="#" class="portfolio-more"></a>
							</div>
						</div>
					</div>
					<img alt="" src="img/portfolio-b-07.jpg">
				</div>
				<div class="portfolio-i-text">
					<b>Paris skyline</b>
					<span>Photography</span>
				</div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="portfolio-i countries">
				<div class="portfolio-i-img">
					<div class="portfolio-i-over">
						<div class="portfolio-i-over-a">
							<div class="portfolio-i-over-b">
								<a href="img/portfolio-b-08.jpg" data-fancybox-group="gallery" class="fancybox portfolio-zoom"></a>
								<a href="#" class="portfolio-more"></a>
							</div>
						</div>
					</div>
					<img alt="" src="img/portfolio-b-08.jpg">
				</div>
				<div class="portfolio-i-text">
					<b>Fashion image</b>
					<span>Countries</span>
				</div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="portfolio-i travel">
				<div class="portfolio-i-img">
					<div class="portfolio-i-over">
						<div class="portfolio-i-over-a">
							<div class="portfolio-i-over-b">
								<a href="img/portfolio-b-09.jpg" data-fancybox-group="gallery" class="fancybox portfolio-zoom"></a>
								<a href="#" class="portfolio-more"></a>
							</div>
						</div>
					</div>
					<img alt="" src="img/portfolio-b-09.jpg">
				</div>
				<div class="portfolio-i-text">
					<b>Cup of hot drink</b>
					<span>Travel</span>
				</div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="portfolio-i travel">
				<div class="portfolio-i-img">
					<div class="portfolio-i-over">
						<div class="portfolio-i-over-a">
							<div class="portfolio-i-over-b">
								<a href="img/portfolio-10.jpg" data-fancybox-group="gallery" class="fancybox portfolio-zoom"></a>
								<a href="#" class="portfolio-more"></a>
							</div>
						</div>
					</div>
					<img alt="" src="img/portfolio-10.jpg">
				</div>
				<div class="portfolio-i-text">
					<b>Cup of hot drink</b>
					<span>Travel</span>
				</div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="portfolio-i travel">
				<div class="portfolio-i-img">
					<div class="portfolio-i-over">
						<div class="portfolio-i-over-a">
							<div class="portfolio-i-over-b">
								<a href="img/portfolio-11.jpg" data-fancybox-group="gallery" class="fancybox portfolio-zoom"></a>
								<a href="#" class="portfolio-more"></a>
							</div>
						</div>
					</div>
					<img alt="" src="img/portfolio-11.jpg">
				</div>
				<div class="portfolio-i-text">
					<b>Cup of hot drink</b>
					<span>Travel</span>
				</div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="portfolio-i travel">
				<div class="portfolio-i-img">
					<div class="portfolio-i-over">
						<div class="portfolio-i-over-a">
							<div class="portfolio-i-over-b">
								<a href="img/portfolio-12.jpg" data-fancybox-group="gallery" class="fancybox portfolio-zoom"></a>
								<a href="#" class="portfolio-more"></a>
							</div>
						</div>
					</div>
					<img alt="" src="img/portfolio-12.jpg">
				</div>
				<div class="portfolio-i-text">
					<b>Cup of hot drink</b>
					<span>Travel</span>
				</div>
			</div>
			<!-- \\ -->
		</div>

		</div>
	</div>
</div>
<!-- /main-cont -->

{% include 'footer.html' %}

<!-- // scripts // -->
  <script src="static/js/jquery-1.11.3.min.js"></script>
  <script src="static/js/jqeury.appear.js"></script>
  <script src="static/js/jquery-ui.min.js"></script>
  <script src="static/js/owl.carousel.min.js"></script>
  <script src="static/js/bxSlider.js"></script>
  <script src="static/js/custom.select.js"></script>
  <script src="static/js/isotope.js"></script>
  <script src="static/source/jquery.fancybox.js"></script>
  <script type="text/javascript" src="static/js/twitterfeed.js"></script>
  <script src="static/js/script.js"></script>

  <script>
      $(document).ready(function(){
	       'use strict';
            var $container = $('.portfolio-three-colls');
            $container.isotope({
                itemSelector: '.portfolio-i',
                columnWidth: 520,
                rowHeight: 220
            });
            $(".fancybox").fancybox({
              helpers:  {
                overlay : {
                locked : false
              },
              title : { type : 'over' }
              },
              beforeShow : function() {
                this.title = (this.title ? '' + this.title + '' : '')  + (this.index + 1) + ' of ' + this.group.length;
              }
            });

          $('.portfolio-filters li a').on('click', function(){
            var $sort = $(this).data('sort');
            if ($sort=='all') {
              var $sort = '*';
              $container.isotope({ filter: $sort });
            } else {
              $container.isotope({ filter: '.'+$sort });
            }
            $('.portfolio-filters li').removeClass('active');
            $(this).closest('li').addClass('active');
            return false;
          });
      });

  </script>
<!-- \\ scripts \\ -->

</body>
</html>
