<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta charset="utf-8" /><link rel="icon" href="favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 

  <link rel="apple-touch-icon" sizes="60x60" 
  	href="{{url_for('static', filename='img/apple-icon-60x60.png')}}">
  <link rel="apple-touch-icon" sizes="72x72" 
  	href="{{url_for('static', filename='img/apple-icon-72x72.png')}}">
  <link rel="apple-touch-icon" sizes="76x76" 
  	href="{{url_for('static', filename='img/apple-icon-76x76.png')}}">
  <link rel="apple-touch-icon" sizes="114x114" 
  	href="{{url_for('static', filename='/img/apple-icon-114x114.png')}}">
  <link rel="apple-touch-icon" sizes="120x120" 
  	href="{{url_for('static', filename='img/apple-icon-120x120.png')}}">
  <link rel="apple-touch-icon" sizes="144x144" 
  	href="{{url_for('static', filename='img/apple-icon-144x144.png')}}">
  <link rel="apple-touch-icon" sizes="152x152" 
  	href="{{url_for('static', filename='img/apple-icon-152x152.png')}}">
  <link rel="apple-touch-icon" sizes="180x180" 
  	href="{{url_for('static', filename='img/apple-icon-180x180.png')}}">
  <link rel="icon" type="img/png" sizes="192x192"  
  	href="{{url_for('static', filename='img/android-icon-192x192.png')}}">
  <link rel="icon" type="img/png" sizes="32x32" 
  	href="{{url_for('static', filename='img/favicon-32x32.png')}}">
  <link rel="icon" type="img/png" sizes="96x96" 
  	href="{{url_for('static', filename='img/favicon-96x96.png')}}">
  <link rel="icon" type="img/png" sizes="16x16" 
  	href="{{url_for('static', filename='img/favicon-16x16.png')}}">

  <!-- <link rel="stylesheet" href="css/jquery.formstyler.css">   -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.formstyler.css')}}" /> 
  <!-- <link rel="stylesheet" href="css/style.css" /> -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />

  <!-- fonts (all fonts imported in stylesheet; see top of style.css) -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>    
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,700' rel='stylesheet' type='text/css'>  
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>	 -->

</head>  

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ B ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ O ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ D ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Y ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<body class="inner-body">  
<!-- // authorize // -->
	<!-- <div class="overlay"></div> -->
	<!-- <div class="autorize-popup">
		<div class="autorize-tabs">
			<a href="#" class="autorize-tab-a current">Sign in</a>
			<a href="#" class="autorize-tab-b">Register</a>
			<a href="#" class="autorize-close"></a>
			<div class="clear"></div>
		</div>
		<section class="autorize-tab-content">
			<div class="autorize-padding">
				<h6 class="autorize-lbl">Welocome! Login in to Your Accont</h6>
				<input type="text" value="" placeholder="Name">
				<input type="text" value="" placeholder="Password">
				<footer class="autorize-bottom">
					<button class="authorize-btn">Login</button>
					<a href="#" class="authorize-forget-pass">Forgot your password?</a>
					<div class="clear"></div>
				</footer>
			</div>
		</section>
		<section class="autorize-tab-content">
			<div class="autorize-padding">
				<h6 class="autorize-lbl">Register for Your Account</h6>
				<input type="text" value="" placeholder="Name">
				<input type="text" value="" placeholder="Password">
				<footer class="autorize-bottom">
					<button class="authorize-btn">Registration</button>
					<div class="clear"></div>
				</footer>
			</div>
		</section>
	</div> -->
<!-- \\ authorize \\-->

<header id="top">
	<div class="header-a">
		<div class="wrapper-padding">			
			<div class="header-phone"><span>1-857-250-9582</span></div>
			<!-- <div class="header-account">
				<a href="#">My account</a>
			</div> -->
			<div class="header-social">
				<a href="https://twitter.com/myafricatours" class="social-twitter"></a>
				<a href="https://www.facebook.com/myafricatours/" class="social-facebook"></a>
				<!-- <a href="#" class="social-vimeo"></a> -->
				<!-- <a href="#" class="social-pinterest"></a> -->
				<a href="https://www.instagram.com/myafricatours/" class="social-instagram"></a>
			</div>
			<div class="header-viewed">
				<a href="#" class="header-viewed-btn">recently viewed</a>
				<!-- // viewed drop // -->
					<div class="viewed-drop">
						<div class="viewed-drop-a">
							<!-- // -->
							<div class="viewed-item">
								<div class="viewed-item-l">
									<a href="#"><img alt="" src="img/v-item-01.jpg" /></a>
								</div>
								<div class="viewed-item-r">
									<div class="viewed-item-lbl"><a href="#">Andrassy Thai Hotel</a></div>
									<div class="viewed-item-cat">location: thailand</div>
									<div class="viewed-price">152$</div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- \\ -->
							<!-- // -->
							<div class="viewed-item">
								<div class="viewed-item-l">
									<a href="#"><img alt="" src="img/v-item-02.jpg" /></a>
								</div>
								<div class="viewed-item-r">
									<div class="viewed-item-lbl"><a href="#">Ermin's Hotel</a></div>
									<div class="viewed-item-cat">location: dubai</div>
									<div class="viewed-price">300$</div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- \\ -->
							<!-- // -->
							<div class="viewed-item">
								<div class="viewed-item-l">
									<a href="#"><img alt="" src="img/v-item-03.jpg" /></a>
								</div>
								<div class="viewed-item-r">
									<div class="viewed-item-lbl"><a href="#">Best Western Hotel Reither</a></div>
									<div class="viewed-item-cat">location: berlin</div>
									<div class="viewed-price">2300$</div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- \\ -->
						</div>
					</div>
				<!-- \\ viewed drop \\ -->
			</div>
			<div class="header-lang">
				<a href="#"><img alt="" src="img/en.gif" /></a>
				<div class="langs-drop">
					<div><a href="#" class="langs-item en">english</a></div>
					<div><a href="#" class="langs-item fr">francais</a></div>
					<div><a href="#" class="langs-item de">deutsch</a></div>
					<div><a href="#" class="langs-item it">italiano</a></div>
				</div>
			</div>
			<div class="header-curency">
				<a href="#">USD</a>
				<div class="curency-drop">
					<div><a href="#">usd</a></div>
					<div><a href="#">Eur</a></div>
					<div><a href="#">GBR</a></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
<div class="header-b">
		<!-- // mobile menu // -->
			<div class="mobile-menu">
				<nav>
					<ul>
						<li><a class="has-child" href="/home">HOME</a>
							<!-- <ul>
														<li><a href="index.html">Home style one</a></li>
														<li><a href="index_02.html">Home style two</a></li>
														<li><a href="index_03.html">Home style three</a></li>
														<li><a href="index_04.html">Home style four</a></li>	
													</ul> -->						
						</li>
						<!-- <li><a class="has-child" href="#">Hotels</a>
													<ul>
														<li><a href="hotel_list.html">Hotels standard list</a></li>
														<li><a href="hotel_simple_style.html">Hotels simple style</a></li>
														<li><a href="hotel_detail_style.html">Hotels detail style</a></li>
														<li><a href="hotel_detail.html">Hotel item page</a></li>
														<li><a href="hotel_booking.html">Hotel booking page</a></li>
														<li><a href="#">booking complete page</a></li>
													</ul>
												</li> -->						
						<!-- <li><a class="has-child" href="#">Flights</a>
							<ul>
								<li><a href="flight_round_trip.html">Flights round trip</a></li>
								<li><a href="flight_one_way.html">flights one way trip</a></li>
								<li><a href="flight_alternative.html">flights alternative style</a></li>
								<li><a href="flight_detail.html">Flights detail page</a></li>
								<li><a href="flight_booking.html">Flights booking page</a></li>
								<li><a href="booking_complete.html">booking complete</a></li>
							</ul>
						</li> -->
						<li><a class="has-child" href="/tours">Tours</a>
							<ul>
								<li><a href="tour_alternative.html">Tours list style</a></li>
								<li><a href="tour_grid.html">tours grid style</a></li>
								<li><a href="tour_simple.html">Tours simple style</a></li>
								<li><a href="tour_detail.html">Tour detail page</a></li>
								<li><a href="tour_booking.html">tour booking page</a></li>
								<li><a href="booking_complete.html">booking complete</a></li>
							</ul>
						</li>						
						<li><a class="has-child" href="/about">About Us</a>
							<!-- <ul>
								<li><a href="about_us.html">about us style one</a></li>
								
								<li><a href="services.html">services</a></li>
								<li><a href="contacts.html">contact us</a></li>
							</ul> -->
						</li>
						<li><a class="has-child" href="/portfolio">Portfolio</a>
							<!-- <ul>
								<li><a href="portfolio_three_collumns.html">Portfolio three columns</a></li>
								<li><a href="portfolio_four_collumns.html">portfolio four columns</a></li>
								<li><a href="item_page.html">item page</a></li>
								<li><a href="item_page_full_width.html">Item page full width style</a></li>
							</ul> -->
						</li>
						<li><a class="has-child" href="/blog">Blog</a>
							<!-- <ul>
								<li><a href="blog_with_sidebar.html">Blog with sidebar</a></li>
								<li><a href="blog_masonry.html">blog masonry style</a></li>
								<li><a href="standart_blog_post.html">Blog post example</a></li>
							</ul> -->
						</li>
						<!-- <li><a class="has-child" href="#">Features</a>
													<ul>
														<li><a href="typography.html">typography</a></li>
														<li><a href="shortcodes.html">shortcodes</a></li>
														<li><a href="interactive_elements.html">interactive elements</a></li>
														<li><a href="cover_galleries.html">cover galleries</a></li>
														<li><a href="columns.html">columns</a></li>
													</ul>
												</li> -->						
						<li><a href="/contact">CONTACTS</a></li>
					</ul>
				</nav>	
			</div>
		<!-- \\ mobile menu \\ -->
			
		<div class="wrapper-padding">
			<div class="header-logo"><a href="index.html"><img alt="" src="/static/img/mytlogo.png" /></a></div>
			<div class="header-right">
				<div class="hdr-srch">
					<a href="#" class="hdr-srch-btn"></a>
				</div>
				<div class="hdr-srch-overlay">
					<div class="hdr-srch-overlay-a">
						<input type="text" value="" placeholder="Start typing...">
						<a href="#" class="srch-close"></a>
						<div class="clear"></div>
					</div>
				</div>	
				<div class="hdr-srch-devider"></div>
				<a href="#" class="menu-btn"></a>
				<nav class="header-nav">
					<ul>
						<li><a href="/home">Home</a>
							<!-- <ul>
								<li><a href="index.html">Home style one</a></li>
								<li><a href="index_02.html">Home style two</a></li>
								<li><a href="index_03.html">Home style three</a></li>
								<li><a href="index_04.html">Home style four</a></li>	
							</ul> -->
						</li>
						<!-- <li><a href="#">Hotels</a>
							<ul>
								<li><a href="hotel_list.html">Hotels standard list</a></li>
								<li><a href="hotel_simple_style.html">Hotels simple style</a></li>
								<li><a href="hotel_detail_style.html">Hotels detail style</a></li>
								<li><a href="hotel_detail.html">Hotel item page</a></li>
								<li><a href="hotel_booking.html">Hotel booking page</a></li>
								<li><a href="booking_complete.html">booking complete page</a></li>
							</ul>
						</li> -->
						<!-- <li><a href="#">Flights</a>
							<ul>
								<li><a href="flight_round_trip.html">Flights round trip</a></li>
								<li><a href="flight_one_way.html">flights one way trip</a></li>
								<li><a href="flight_alternative.html">flights alternative style</a></li>
								<li><a href="flight_detail.html">Flights detail page</a></li>
								<li><a href="flight_booking.html">Flights booking page</a></li>
								<li><a href="booking_complete.html">booking complete</a></li>
							</ul>
						</li> -->
						<li><a href="/tours">Tours</a>
							<!-- <ul>
								<li><a href="tour_alternative.html">Tours list style</a></li>
								<li><a href="tour_grid.html">tours grid style</a></li>
								<li><a href="tour_simple.html">Tours simple style</a></li>
								<li><a href="tour_detail.html">Tour detail page</a></li>
								<li><a href="tour_booking.html">tour booking page</a></li>
								<li><a href="booking_complete.html">booking complete</a></li>
							</ul> -->
						</li>
						<li><a href="/about">About Us</a>
							<!-- <ul>
								<li><a href="about_us.html">about us style one</a></li>
								
								<li><a href="services.html">services</a></li>
								<li><a href="contacts.html">contact us</a></li>
							</ul> -->
						</li>
						<li><a href="/portfolio">Portfolio</a>
							<!-- <ul>
								<li><a href="portfolio_three_collumns.html">Portfolio three columns</a></li>
								<li><a href="portfolio_four_collumns.html">portfolio four columns</a></li>
								<li><a href="item_page.html">item page</a></li>
								<li><a href="item_page_full_width.html">Item page full width style</a></li>
							</ul> -->
						</li>
						<li><a href="/blog">Blog</a>
							<!-- <ul>
								<li><a href="blog_with_sidebar.html">Blog with sidebar</a></li>
								<li><a href="blog_masonry.html">blog masonry style</a></li>
								<li><a href="standart_blog_post.html">Blog post example</a></li>
							</ul> -->
						</li>
						<!-- <li><a href="#">Features</a>
							<ul>
								<li><a href="typography.html">typography</a></li>
								<li><a href="shortcodes.html">shortcodes</a></li>
								<li><a href="interactive_elements.html">interactive elements</a></li>
								<li><a href="cover_galleries.html">cover galleries</a></li>
								<li><a href="columns.html">columns</a></li>
							</ul>
						</li> -->
						<li><a href="/contact">Contact Us</a></li>
					</ul>
				</nav>
			</div>
			<div class="clear"></div>
		</div>
	</div>	
</header>


<!-- main-cont -->
<div class="main-cont">  	
	
	<div class="inner-page">
		<div class="inner-breadcrumbs">
			<div class="content-wrapper">
				<div class="page-title">Services</div>
				<div class="breadcrumbs">
        			<a href="#">Home</a> / <span>Services</span>
      			</div>
      			<div class="clear"></div>
      		</div>		
		</div>
		
		<div class="about-content">
			<div class="content-wrapper">
				<header class="page-lbl fly-in">
					<div class="offer-slider-lbl">Our services</div>
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
				</header>			
				<div class="services fly-in">
					<div class="services-row">
						<!-- // -->
						<div class="services-i">
							<div class="services-img"><img alt="" src="img/services-01.png"></div>
							<div class="services-lbl">trip planning</div>
							<div class="services-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</div>
						</div>
						<!-- \\ -->
						<!-- // -->
						<div class="services-i">
							<div class="services-img"><img alt="" src="img/services-02.png"></div>
							<div class="services-lbl">Best tour pricing</div>
							<div class="services-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</div>
						</div>
						<!-- \\ -->
						<!-- // -->
						<div class="services-i">
							<div class="services-img"><img alt="" src="img/services-03.png"></div>
							<div class="services-lbl">quick search </div>
							<div class="services-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</div>
						</div>
						<!-- \\ -->
						<!-- // -->
						<div class="services-i">
							<div class="services-img"><img alt="" src="img/services-04.png"></div>
							<div class="services-lbl">Great support</div>
							<div class="services-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</div>
						</div>
						<!-- \\ -->
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		
		<div class="about-us-devider fly-in"></div>
						
		<div class="solutions">
			<div class="content-wrapper">
			<header class="page-lbl fly-in">
				<div class="offer-slider-lbl">SOLUTION FOR YOUR trip</div>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
			</header>		
			<div class="solutions-row fly-in">
				<!-- // -->
					<div class="solutions-i">
						<div class="solution-icon-a"></div>
						<div class="solutions-over">
							<div class="solutions-over-a">
								<div class="solutions-over-b">
									<div class="solutions-over-c">
										<i class="solution-icon"></i>
										<div class="solution-lbl">Plan your trip</div>
									</div>
									<div class="solutions-over-d">
										<i class="solution-icon"></i>
										<div class="solution-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos quioluptatem sequ.</div>										
									</div>
								</div>
							</div>
						</div>					
						<div class="solutions-img">
							<img alt="" src="img/solution-01.jpg">
						</div>
					</div>
				<!-- \\ -->
				<!-- // -->
					<div class="solutions-i">
						<div class="solution-icon-a"></div>
						<div class="solutions-over">
							<div class="solutions-over-a">
								<div class="solutions-over-b">
									<div class="solutions-over-c">
										<i class="solution-icon"></i>
										<div class="solution-lbl">Online booking</div>
									</div>
									<div class="solutions-over-d">
										<i class="solution-icon"></i>
										<div class="solution-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos quioluptatem sequ.</div>										
									</div>
								</div>
							</div>
						</div>					
						<div class="solutions-img">
							<img alt="" src="img/solution-02.jpg">
						</div>
					</div>
				<!-- \\ -->
				<!-- // -->
					<div class="solutions-i">
						<div class="solution-icon-a"></div>
						<div class="solutions-over">
							<div class="solutions-over-a">
								<div class="solutions-over-b">
									<div class="solutions-over-c">
										<i class="solution-icon"></i>
										<div class="solution-lbl">visit the best countries</div>
									</div>
									<div class="solutions-over-d">
										<i class="solution-icon"></i>
										<div class="solution-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos quioluptatem sequ.</div>										
									</div>
								</div>
							</div>
						</div>					
						<div class="solutions-img">
							<img alt="" src="img/solution-03.jpg">
						</div>
					</div>
				<!-- \\ -->
			</div>
			<div class="clear"></div>
			</div>
		</div>				

		<div class="solution-partners">
			<div class="content-wrapper">
			<header class="page-lbl fly-in">
				<div class="offer-slider-lbl">our parthners</div>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
			</header>		
      		<div class="partners fly-in">
    			<a href="#"><img alt="" src="img/partner-01.png" /></a>
    			<a href="#"><img alt="" src="img/partner-02.png" /></a>
    			<a href="#"><img alt="" src="img/partner-03.png" /></a>
    			<a href="#"><img alt="" src="img/partner-04.png" /></a>
    			<a href="#"><img alt="" src="img/partner-05.png" /></a>
    			<a href="#"><img alt="" src="img/partner-06.png" /></a>
      		</div>	
			<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<!-- /main-cont -->

<footer class="footer-a">
	<div class="wrapper-padding">
		<div class="section">
			<div class="footer-lbl">Get In Touch</div>
			<div class="footer-adress">Address: 20 Lyon St, <br />01606 Worcester, Massachusetts</div>
			<div class="footer-phones">Telephones: +1-857-250-9582</div>
			<div class="footer-email">E-mail: info@myafricatours.com </div>
			<div class="footer-skype">Skype: myafricatours</div>
		</div>
		<div class="section">
			<div class="footer-lbl">Featured Tours</div>
			<div class="footer-tours">
			<!-- // -->
			<div class="footer-tour">
				<!-- <div class="footer-tour-l"><a href="#"><img alt="" src="img/f-tour-01.jpg" /></a></div> -->
				<div class="footer-tour-l"><a href="/tour_detail"><img alt="Zanzibar" src="static/img/myt_zanzibar-01.jpg" /></a></div>
				<div class="footer-tour-r">
					<div class="footer-tour-a">Zanzibar Tour</div>
					<div class="footer-tour-b">location: Tanzania</div>
					<div class="footer-tour-c">800$</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="footer-tour">
				<!-- <div class="footer-tour-l"><a href="#"><img alt="" src="img/f-tour-02.jpg" /></a></div>-->
				<div class="footer-tour-l"><a href="/tour_detail"><img alt="Kidepo" src="static/img/myt_wildlife_kidepo.jpg" /></a></div>
				<div class="footer-tour-r">
					<div class="footer-tour-a">Kidepo Tour</div>
					<div class="footer-tour-b">location: Kenya</div>
					<div class="footer-tour-c">450$</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- \\ -->
			<!-- // -->
			<div class="footer-tour">
				<!-- <div class="footer-tour-l"><a href="#"><img alt="" src="img/f-tour-03.jpg" /></a></div> -->
				<div class="footer-tour-l"><a href="/tour_detail"><img alt="Mombasa" src="static/img/myt_mombasa_city.jpg" /></a></div>
				<div class="footer-tour-r">
					<div class="footer-tour-a">Mombasa tour</div>
					<div class="footer-tour-b">location: Kenya</div>
					<div class="footer-tour-c">440$</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- \\ -->
			</div>
		</div>
		<div class="section">
			<div class="footer-lbl">Twitter widget</div>
			<div class="twitter-wiget">
				<div id="twitter-feed"></div>
			</div>
		</div>
		<div class="section">
			<div class="footer-lbl">newsletter sign up</div>
			<div class="footer-subscribe">
				<div class="footer-subscribe-a">
					<input type="text" placeholder="you email" value="" />
				</div>
			</div>
			<button class="footer-subscribe-btn">Sign up</button>
		</div>
	</div>
	<div class="clear"></div>
</footer>

<footer class="footer-b">
	<div class="wrapper-padding">
		<div class="footer-left">© Copyright 2015 by Weblionmedia. All rights reserved.</div>
		<div class="footer-social">
			<a href="https://twitter.com/myafricatours" class="footer-twitter"></a>
			<a href="https://www.facebook.com/myafricatours/" class="footer-facebook"></a>
			<!-- <a href="#" class="social-vimeo"></a> -->
			<!-- <a href="#" class="social-pinterest"></a> -->
			<a href="https://www.instagram.com/myafricatours/" class="footer-instagram"></a>
		</div>
		<div class="clear"></div>
	</div>
</footer>

<!-- // scripts // -->
  <script src="static/js/jquery-1.11.3.min.js"></script>
  <script src="static/js/jqeury.appear.js"></script>  
  <script src="static/js/jquery-ui.min.js"></script> 
  <script src="static/js/owl.carousel.min.js"></script>
  <script src="static/js/bxSlider.js"></script>
  <script src="static/js/custom.select.js"></script>
  <script type="text/javascript" src="static/js/twitterfeed.js"></script>
  <script src="static/js/script.js"></script>
<!-- \\ scripts \\ --> 
 
</body>  
</html> 