<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta charset="utf-8" /><link rel="icon" href="favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" sizes="60x60"
  	href="{{url_for('static', filename='../static/img/apple-icon-60x60.png')}}">
  <link rel="apple-touch-icon" sizes="72x72"
  	href="{{url_for('static', filename='../static/img/apple-icon-72x72.png')}}">
  <link rel="apple-touch-icon" sizes="76x76"
  	href="{{url_for('static', filename='../static/img/apple-icon-76x76.png')}}">
  <link rel="apple-touch-icon" sizes="114x114"
  	href="{{url_for('static', filename='/../static/img/apple-icon-114x114.png')}}">
  <link rel="apple-touch-icon" sizes="120x120"
  	href="{{url_for('static', filename='../static/img/apple-icon-120x120.png')}}">
  <link rel="apple-touch-icon" sizes="144x144"
  	href="{{url_for('static', filename='../static/img/apple-icon-144x144.png')}}">
  <link rel="apple-touch-icon" sizes="152x152"
  	href="{{url_for('static', filename='../static/img/apple-icon-152x152.png')}}">
  <link rel="apple-touch-icon" sizes="180x180"
  	href="{{url_for('static', filename='../static/img/apple-icon-180x180.png')}}">
  <link rel="icon" type="../static/img/png" sizes="192x192"
  	href="{{url_for('static', filename='../static/img/android-icon-192x192.png')}}">
  <link rel="icon" type="../static/img/png" sizes="32x32"
  	href="{{url_for('static', filename='../static/img/favicon-32x32.png')}}">
  <link rel="icon" type="../static/img/png" sizes="96x96"
  	href="{{url_for('static', filename='../static/img/favicon-96x96.png')}}">
  <link rel="icon" type="../static/img/png" sizes="16x16"
  	href="{{url_for('static', filename='../static/img/favicon-16x16.png')}}">

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
</head>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ B ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ O ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ D ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Y ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<body>

{% include 'header.html' %}

<!-- main-cont -->
<div class="main-cont">
  <div class="body-wrapper">
    <div class="wrapper-padding">
    <div class="page-head">
      <div class="page-title">{{ tour.country.__str__() }} - <span>{{ tour.name }}</span></div>
      <!-- <div class="breadcrumbs"> -->
        <!-- <a href="#">Home</a> / <a href="#">Tours</a> / <span>{{ tour.name }}</span> -->
      <!-- </div> -->
      <div class="clear"></div>
    </div>

	<div class="sp-page">
		<div class="sp-page-a">
			<div class="sp-page-l">
  				<div class="sp-page-lb">
  				<div class="sp-page-p">
  					<div class="h-tabs">
  						<div class="h-tabs-left">
  							<div class="h-tab-i active">
  								<a href="#" class="h-tab-item-01">
  									<i></i>
  									<span>photos</span>
  									<span class="clear"></span>
  								</a>
  							</div>
  							<div class="h-tab-i">
  								<a href="#" class="h-tab-item-03">
  									<i></i>
  									<span>calendar</span>
  									<span class="clear"></span>
  								</a>
  							</div>
  						</div>
  						<div class="h-tabs-right">
  							<a href="/tours">
  								<i></i>
  								<span>more tours</span>
  								<div class="clear"></div>
  							</a>
  						</div>
  						<div class="clear"></div>
  					</div>

  					<div class="mm-tabs-wrapper">
  					<!-- // tab item // -->
  						<div class="tab-item">
                {% if tour.images.count() %}
  							<div class="tab-gallery-big">
  								<img alt="" src={{ url_for('static', filename="img/detail/"~tour.images.filter_by(category='detail')[0].filename) }}>
  							</div>
  							<div class="tab-gallery-preview">
  								<div id="gallery">
                    <!-- this saves space because I don't have to create thumbnail entries for each image in the database -->
  									{% for thumbnail in tour.images.filter_by(category='detail') %}
  									<div class="gallery-i">
  										<a href={{ url_for("static", filename="img/detail/"~thumbnail.filename.__str__()) }} >
                        <img alt="" src="{{ url_for('static', filename="img/detail/thumbs/"~thumbnail.filename) }}">
                        <span></span>
                      </a>
  									</div>
                    {% endfor %}
  								</div>
  							</div>
                {% endif %}
  						</div>
  					<!-- \\ tab item \\ -->
  					<!-- // tab item // -->
  						<div class="tab-item">
  							<div class="calendar-tab">
								<div class="calendar-tab-select">
									<label>Select month</label>
									<select class="custom-select">
										<option>Jan 2018</option>
										<option>Feb 2018</option>
										<option>Mar 2018</option>
                    <option>April 2018</option>
                    <option>May 2018</option>
                    <option>June 2018</option>
                    <option>July 2018</option>
                    <option>Aug 2018</option>
                    <option>Sept 2018</option>
                    <option>Oct 2018</option>
                    <option>Nov 2018</option>
                    <option>Dec 2018</option>
									</select>
								</div>


								<div class="tab-calendar-colls">
									<div class="tab-calendar-collsl">
  										<div class="tab-calendar-collslb">
											<table>
												<thead>
													<tr>
														<td>sun</td>
														<td>mon</td>
														<td>tue</td>
														<td>wed</td>
														<td>thu</td>
														<td>fri</td>
														<td>sat</td>
													</tr>
													</thead>
													<tbody>
													<tr>
														<td class="date-passed"><span><label></label></span></td>
														<td class="date-passed"><span><label></label></span></td>
														<td class="date-passed"><span><label></label></span></td>
														<td><span><label>1</label></span></td>
														<td><span><label>2</label></span></td>
														<td><span><label>3</label></span></td>
														<td><span><label>4</label></span></td>
													</tr>
													<tr>
														<td><span><label>5</label></span></td>
														<td><span><label>6</label></span></td>
														<td><span><label>7</label></span></td>
														<td><span><label>8</label></span></td>
														<td><span><label>9</label></span></td>
														<td><span><label>10</label></span></td>
														<td><span><label>11</label></span></td>
													</tr>
													<tr>
														<td><span><label>12</label></span></td>
														<td><span><label>13</label></span></td>
														<td><span><label>14</label></span></td>
														<td><span><label>15</label></span></td>
														<td><span><label>16</label></span></td>
														<td><span><label>17</label></span></td>
														<td><span><label>18</label></span></td>
													</tr>
													<tr>
														<td><span><label>19</label></span></td>
														<td><span><label>20</label></span></td>
														<td><span><label>21</label></span></td>
														<td><span><label>22</label></span></td>
														<td><span><label>23</label></span></td>
														<td><span><label>24</label></span></td>
														<td><span><label>25</label></span></td>
													</tr>
													<tr>
														<td><span><label>26</label></span></td>
														<td class="date-available"><span><label>27</label></span></td>
														<td class="date-available"><span><label>28</label></span></td>
														<td class="date-available"><span><label>29</label></span></td>
														<td class="date-unavailable"><span><label>30</label></span></td>
														<td class="date-unavailable"><span><label>31</label></span></td>
														<td class="date-passed"><span><label></label></span></td>
													</tr>
												</tbody>
											</table>
										</div>
  										<div class="clear"></div>
									</div>
									</div>
									<div class="tab-calendar-collsr">
										<div class="tab-calendar-s">

											<div class="map-symbol passed">
												<div class="map-symbol-l"></div>
												<div class="map-symbol-r">Date past</div>
												<div class="clear"></div>
											</div>
											<div class="map-symbol available">
												<div class="map-symbol-l"></div>
												<div class="map-symbol-r">available</div>
												<div class="clear"></div>
											</div>
											<div class="map-symbol unavailable">
												<div class="map-symbol-l"></div>
												<div class="map-symbol-r">unavailable</div>
												<div class="clear"></div>
											</div>

										</div>
									</div>
									<div class="clear"></div>

  							</div>
  						</div>
  					<!-- \\ tab item \\ -->

  				</div>

  				<div class="content-tabs">
  					<div class="content-tabs-head last-item">
  						<nav>
  							<ul>
  								<li><a class="active" href="#">DESCRIPTION</a></li>
  								<li><a href="#">Preferences</a></li>
  								<li><a href="#">reviews</a></li>
  								<li><a href="#">THINGS TO DO</a></li>
  							  <li><a href="#" class="tabs-lamp"></a></li>
                </ul>
  						</nav>

  						<div class="clear"></div>
  					</div>
  					<div class="content-tabs-body">
  						<!-- // content-tabs-i // -->
  						<div class="content-tabs-i">


  							<h2>{{ tour.name~' Tour' }}</h2>
  							<p>{{ tour.long_description }}</p>
							<p><a class="highlight-a" href="/contact" style="text-decoration:none;color:#ff7200">Contact us</a> for more details.</p>

              <!-- days  -->
              <!-- <div class="tabs-type-b tabs-block">
                <div class="tabs-type-bi">
                  <div class="tabs-type-bi-a">
                    <div class="tabs-type-bi-l">
                    <nav class="tabs-nav">
                      <ul>
                        <li><a class="active" href="#"> Day 1 + <span></span></a></li>
                        <li><a class="" href="#"> Day 2 + <span></span></a></li>
                        <li><a class="" href="#"> Day 3 + <span></span></a></li>
                        <li><a class="" href="#"> Day 4 + <span></span></a></li>
                        <li><a class="" href="#"> Day 5 + <span></span></a></li>
                      </ul>
                      <div class="clear"></div>
                    </nav>
                    </div>
                    <div class="tabs-type-bi-r">
                        <div class="tabs-type-bi-rb">
                        <div class="tabs-type-bi-p">
                          <div class="tabs-content">
                            <div class="tabs-content-i" style="display: block;"><p>" + tour.itenerary[0].content + "</p></div>
                          </div>
                        </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  <div class="clear"></div>
                </div>
              </div> -->
              <!--//end days  -->

  							<div class="tab-reasons">
  								<!-- <h2>{{ tour.name~' Tour' }}</h2> -->
  								<div class="tab-reasons-h">

  									<div class="tab-reasons-i reasons-01">
  										<b>Cost</b>
  										<p></p>
  									</div>

  									<!-- <div class="tab-reasons-i reasons-02">
  										<b>{{tour.reviews~' verified reviews'}}</b>
  										<p>{{ tour.short_description }}</p>
  									</div> -->

  									<div class="tab-reasons-i reasons-03">
  										<b>Duration</b>
  										<p></p>
  									</div>

  									<!-- <div class="tab-reasons-i reasons-04">
  										<b>Let gorillas entertain you on this amazing tour!</b>
  										<p>{{ tour.name }}</p>
  									</div> -->

  									<!-- \\ -->
  									<div class="clear"></div>
  								</div>

  								<div class="facilities">
  									<h2>Safari Highlights</h2>
  									<table>
  										<!-- <tr>
  											<td class="facilities-a">1</td>
  											<td class="facilities-b">Breakfast in the Room</td>
  										</tr> -->
  									</table>
  								</div>
  							</div>
  						</div>
  						<!-- \\ content-tabs-i \\ -->
  						<!-- // content-tabs-i // -->
  						<div class="content-tabs-i">
  							<h2>Accomodation Facilities</h2>
  							<p>Below is a list of facilities you will be sure to enjoy once you book with us. All at a really reasonable price. It doesn't get better. </p>
  							<!-- <ul class="preferences-list">
  								<li class="internet">High-speed Internet</li>
  								<li class="conf-room">Conference room</li>
  								<li class="play-place">Play Place</li>
  								<li class="restourant">Restourant</li>
  								<li class="bar">Bar</li>
  								<li class="doorman">Doorman</li>
  								<li class="kitchen">Kitchen</li>
  								<li class="spa">Spa services</li>
  								<li class="bike">Bike Rental</li>
  								<li class="entertaiment">Entertaiment</li>
  								<li class="hot-tub">Hot Tub</li>
  								<li class="pool">Swimming Pool</li>
  								<li class="parking">Free parking</li>
  								<li class="gym">Gym</li>
  								<li class="tv">TV</li>
  								<li class="pets">Pets allowed</li>
  								<li class="handicap">Handicap</li>
  								<li class="secure">Secure </li>
  							</ul>
  							<div class="clear"></div>
  							<div class="preferences-devider"></div> -->
  							<!-- <h2>Alternative Style</h2> -->
  							<!-- <p>Quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem sequi nesciunt eque porro quisqua.</p> -->
  							<ul class="preferences-list-alt">
  								<li class="internet">High-speed Internet</li>
  								<li class="parking">Free parking</li>
  								<li class="gym">Gym</li>
  								<li class="restourant">Restourant</li>
  								<li class="pets">Pets allowed</li>
  								<li class="pool">Swimming Pool</li>
  								<li class="kitchen">Kitchen</li>
  								<li class="conf-room">Conference room</li>
  								<li class="bike">Bike Rental</li>
  								<li class="entertaiment">Entertaiment</li>
  								<li class="bar">Bar</li>
  								<li class="secure">Secure</li>
  							</ul>
  							<div class="clear"></div>
  						</div>
  						<!-- \\ content-tabs-i \\ -->
  						<!-- // content-tabs-i // -->
  						<div class="content-tabs-i">
  							<div class="reviews-a">

							<div class="reviews-c">
								<div class="reviews-l">
									<div class="reviews-total">4.7/5.0</div>
									<nav class="reviews-total-stars">
										<ul>
											<li><a href="#"><img alt="" src="../static/img/r-stars-total-b.png"></a></li>
											<li><a href="#"><img alt="" src="../static/img/r-stars-total-b.png"></a></li>
											<li><a href="#"><img alt="" src="../static/img/r-stars-total-b.png"></a></li>
											<li><a href="#"><img alt="" src="../static/img/r-stars-total-b.png"></a></li>
											<li><a href="#"><img alt="" src="../static/img/r-stars-total-a.png"></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="reviews-r">
  								<div class="reviews-rb">
									<div class="reviews-percents">
										<label>4.7 out of 5 stars</label>
										<div class="reviews-percents-i"><span></span></div>
									</div>
									<div class="reviews-percents">
										<label>100% clients recommeted</label>
										<div class="reviews-percents-i"><span></span></div>
									</div>
  								</div>
  								<br class="clear" />
								</div>
							</div>
							<div class="clear"></div>

							<div class="reviews-devider"></div>

							<div class="hotel-reviews">
								<h2>Hotel Facilities</h2>
								<div class="hotel-reviews-row">
									<!-- // -->
									<div class="hotel-reviews-i">
										<div class="hotel-reviews-left">Cleanlines</div>
										<nav class="hotel-reviews-right">
											<ul>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
											</ul>
										</nav>
										<div class="clear"></div>
									</div>
									<!-- \\ -->
									<!-- // -->
									<div class="hotel-reviews-i">
										<div class="hotel-reviews-left">Price</div>
										<nav class="hotel-reviews-right">
											<ul>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-a.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-a.png"></a></li>
											</ul>
										</nav>
										<div class="clear"></div>
									</div>
									<!-- \\ -->
									<!-- // -->
									<div class="hotel-reviews-i">
										<div class="hotel-reviews-left">Sleep Quality</div>
										<nav class="hotel-reviews-right">
											<ul>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-a.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-a.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-a.png"></a></li>
											</ul>
										</nav>
										<div class="clear"></div>
									</div>
									<!-- \\ -->
									<!-- // -->
									<div class="hotel-reviews-i">
										<div class="hotel-reviews-left">Service & Stuff</div>
										<nav class="hotel-reviews-right">
											<ul>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-a.png"></a></li>
											</ul>
										</nav>
										<div class="clear"></div>
									</div>
									<!-- \\ -->
									<!-- // -->
									<div class="hotel-reviews-i">
										<div class="hotel-reviews-left">Location</div>
										<nav class="hotel-reviews-right">
											<ul>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
											</ul>
										</nav>
										<div class="clear"></div>
									</div>
									<!-- \\ -->
									<!-- // -->
									<div class="hotel-reviews-i">
										<div class="hotel-reviews-left">Comfort</div>
										<nav class="hotel-reviews-right">
											<ul>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-b.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-a.png"></a></li>
												<li><a href="#"><img alt="" src="../static/img/sstar-a.png"></a></li>
											</ul>
										</nav>
										<div class="clear"></div>
									</div>
									<!-- \\ -->
								</div>
								<div class="clear"></div>
							</div>

							<div class="hotel-reviews-devider"></div>

							<div class="guest-reviews">
								<h2>Guest Reviews</h2>
								<div class="guest-reviews-row">
									<!-- // -->
                  {% for review in tour.review %}
										<div class="guest-reviews-i">
										<div class="guest-reviews-a">
											<div class="guest-reviews-l">
												<div class="guest-reviews-img">
													<span>5.0</span>
													<img alt="" src="../../static/img/guest-01.png">
												</div>
											</div>
											<div class="guest-reviews-r">
  												<div class="guest-reviews-rb">
												<div class="guest-reviews-b">
												<div class="guest-reviews-bl">
  													<div class="guest-reviews-blb">
														<div class="guest-reviews-lbl">{{ review.author }}</div>
														<div class="guest-reviews-lbl-a">{{ 'from '~review.author_country }}</div>
														<div class="guest-reviews-txt">{{ review.post }}</div>
  													</div>
  													<br class="clear" />
												</div>
												</div>
												<div class="guest-reviews-br">
  													<div class="guest-reviews-padding">
  													<nav>
  														<ul>
  															<li><img alt="" src="../static/img/g-star-b.png"></li>
  															<li><img alt="" src="../static/img/g-star-b.png"></li>
  															<li><img alt="" src="../static/img/g-star-b.png"></li>
  															<li><img alt="" src="../static/img/g-star-b.png"></li>
  															<li><img alt="" src="../static/img/g-star-a.png"></li>
  														</ul>
  													</nav>
  													<div class="guest-rating">{{ review.rating }}/5.0</div>
  													<div class="clear"></div>
  													<div class="guest-rating-txt">Recomended</div>
  													</div>
												</div>
  												</div>
  												<br class="clear" />
												</div>
											</div>
											<div class="clear"></div>
										</div>
                    {% endfor %}
									<!-- \\ -->
								</div>
								<a href="#" class="guest-reviews-more">load more reviews</a>

                <div class="review-form">
                  <h2>Live Review</h2>
                  <label>User Name:</label>
                  <input type="text" value="" />
                  <label>Your Review:</label>
                  <textarea></textarea>

                  <div class="review-rangers-row">
                  <div class="review-ranger">
                    <label>Cleanlines</label>
                    <div class="review-ranger-r">
                      <div class="slider-range-min"></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="review-ranger">
                    <label>Service & Stuff</label>
                    <div class="review-ranger-r">
                      <div class="slider-range-min"></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="review-ranger">
                    <label>Price</label>
                    <div class="review-ranger-r">
                      <div class="slider-range-min"></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="review-ranger">
                    <label>Location</label>
                    <div class="review-ranger-r">
                      <div class="slider-range-min"></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="review-ranger">
                    <label>Sleep Quality</label>
                    <div class="review-ranger-r">
                      <div class="slider-range-min"></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="review-ranger">
                    <label>Comfort</label>
                    <div class="review-ranger-r">
                      <div class="slider-range-min"></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  </div>
                  <label>Evaluation</label>
									<select class="custom-select">
										<option>&nbsp;</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									</select>
                  <label>When did you travel?</label>
                  <input type="text" value="" />
                  <button class="review-send">Submit Review</button>
                </div>
							</div>
  						</div>
  						</div>
  						<!-- \\ content-tabs-i \\ -->
  						<!-- // content-tabs-i // -->
  						<div class="content-tabs-i">
  							<h2>Things to do</h2>
                <p class="small">Bird watching. </p>
  						  <div class="todo-devider"></div>
                <div class="todo-row">
                <!-- // -->
                <div class="cat-list-item">
                  <div class="cat-list-item-l">
                      <a href="#"><img alt="" src="../static/img/todo-01.jpg"></a>
                  </div>
                  <div class="cat-list-item-r">
                    <div class="cat-list-item-rb">
                      <div class="cat-list-item-p">
                        <div class="cat-list-content">
                          <div class="cat-list-content-a">
                            <div class="cat-list-content-l">
                              <div class="cat-list-content-lb">
                                <div class="cat-list-content-lpadding">
                                  <div class="offer-slider-link"><a href="#">Enjoy Birds of many species.</a></div>
                                  <div class="offer-rate">Exelent</div>
                                  <p>Voluptatem quia voluptas sit aspernatur aut odit  aut figut, sed quia consequuntur magni dolores eos qui  voluptatem sequi nescuint. Neque porro quisqua. Sed ut perspiciatis  unde omnis ste.</p>
                                </div>
                              </div>
                              <br class="clear">
                            </div>
                          </div>
                          <div class="cat-list-content-r">
                            <div class="cat-list-content-p">
                              <nav class="stars">
            										<ul>
            											<li><a href="#"><img alt="" src="../static/img/todostar-a.png"></a></li>
            											<li><a href="#"><img alt="" src="../static/img/todostar-a.png"></a></li>
            											<li><a href="#"><img alt="" src="../static/img/todostar-a.png"></a></li>
            											<li><a href="#"><img alt="" src="../static/img/todostar-a.png"></a></li>
            											<li><a href="#"><img alt="" src="../static/img/todostar-a.png"></a></li>
            										</ul>
            										<div class="clear"></div>
            									</nav>
                              <div class="cat-list-review">31 reviews</div>
                              <a href="#" class="todo-btn">Read more</a>
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                    <br class="clear">
                  </div>
                  <div class="clear"></div>
                </div>
                <!-- \\ -->
                <!-- // -->
                <div class="cat-list-item">
                  <div class="cat-list-item-l">
                      <a href="#"><img alt="" src="../static/img/todo-02.jpg"></a>
                  </div>
                  <div class="cat-list-item-r">
                    <div class="cat-list-item-rb">
                      <div class="cat-list-item-p">
                        <div class="cat-list-content">
                          <div class="cat-list-content-a">
                            <div class="cat-list-content-l">
                              <div class="cat-list-content-lb">
                                <div class="cat-list-content-lpadding">
                                  <div class="offer-slider-link"><a href="#">Bird watching</a></div>
                                  <div class="offer-rate">Exelent</div>
                                  <p>Voluptatem quia voluptas sit aspernatur aut odit  aut figut, sed quia consequuntur magni dolores eos qui  voluptatem sequi nescuint. Neque porro quisqua. Sed ut perspiciatis  unde omnis ste.</p>
                                </div>
                              </div>
                              <br class="clear">
                            </div>
                          </div>
                          <div class="cat-list-content-r">
                            <div class="cat-list-content-p">
                              <nav class="stars">
            										<ul>
            											<li><a href="#"><img alt="" src="../static/img/todostar-a.png"></a></li>
            											<li><a href="#"><img alt="" src="../static/img/todostar-a.png"></a></li>
            											<li><a href="#"><img alt="" src="../static/img/todostar-a.png"></a></li>
            											<li><a href="#"><img alt="" src="../static/img/todostar-a.png"></a></li>
            											<li><a href="#"><img alt="" src="../static/img/todostar-a.png"></a></li>
            										</ul>
            										<div class="clear"></div>
            									</nav>
                              <div class="cat-list-review">31 reviews</div>
                              <a href="#" class="todo-btn">Read more</a>
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                    <br class="clear">
                  </div>
                  <div class="clear"></div>
                </div>
                <!-- \\ -->

                </div>
                <a href="#" class="guest-reviews-more">Load more reviews</a>
              </div>
  						<!-- \\ content-tabs-i \\ -->
              <!-- // content-tabs-i // -->
  						<div class="content-tabs-i">
                <h2>FAQ</h2>
                <p class="small">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem sequi nesciunt. </p>
                <div class="todo-devider"></div>
                <div class="faq-row">
                  <!-- // -->
                    <div class="faq-item">
                      <div class="faq-item-a">
                        <span class="faq-item-left">Totam rem aperiam, eaquie ipsa quae?</span>
                        <span class="faq-item-i"></span>
                        <div class="clear"></div>
                      </div>
                      <div class="faq-item-b">
                        <div class="faq-item-p">
                          Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
                        </div>
                      </div>
                    </div>
                  <!-- \\ -->
                  <!-- // -->
                    <div class="faq-item">
                      <div class="faq-item-a">
                        <span class="faq-item-left">Dolores eos qui ratione voluptatem sequi nescuin?</span>
                        <span class="faq-item-i"></span>
                        <div class="clear"></div>
                      </div>
                      <div class="faq-item-b">
                        <div class="faq-item-p">
                          Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
                        </div>
                      </div>
                    </div>
                  <!-- \\ -->
                  <!-- // -->
                    <div class="faq-item">
                      <div class="faq-item-a">
                        <span class="faq-item-left">Neque porro quisquam est, qui dolorem ipsum?</span>
                        <span class="faq-item-i"></span>
                        <div class="clear"></div>
                      </div>
                      <div class="faq-item-b">
                        <div class="faq-item-p">
                          Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
                        </div>
                      </div>
                    </div>
                  <!-- \\ -->
                  <!-- // -->
                    <div class="faq-item">
                      <div class="faq-item-a">
                        <span class="faq-item-left">Dolor sit amet consectutur adipisci velit, sed?</span>
                        <span class="faq-item-i"></span>
                        <div class="clear"></div>
                      </div>
                      <div class="faq-item-b">
                        <div class="faq-item-p">
                          Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
                        </div>
                      </div>
                    </div>
                  <!-- \\ -->
                  <!-- // -->
                    <div class="faq-item">
                      <div class="faq-item-a">
                        <span class="faq-item-left">Consectetur, adipisci velit, sed quia non numquam?</span>
                        <span class="faq-item-i"></span>
                        <div class="clear"></div>
                      </div>
                      <div class="faq-item-b">
                        <div class="faq-item-p">
                          Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
                        </div>
                      </div>
                    </div>
                  <!-- \\ -->
                </div>
              </div>
              <!-- \\ content-tabs-i \\ -->

  					</div>
  				</div>

  				</div>

  				</div>
  				<div class="clear"></div>
			</div>
		</div>

		<div class="sp-page-r">
			<div class="h-detail-r">
				<div class="h-detail-lbl">
					<div class="h-detail-lbl-a">{{'A Special '~tour.name~' '~'tour'}}</div>
					<div class="h-detail-lbl-b">11 nov 2017 - 22 now 2018</div>
				</div>
				<div class="h-tour">
					<div class="tour-item-icons">
						<img alt="" src="../static/img/tour-icon-01.png">
						<span class="tour-item-plus">
              <img alt="" src="{{ url_for('static',filename='img/tour-icon.png') }}">
            </span>
						<img alt="" src="{{url_for('static',filename='img/tour-icon-02.png') }}">
					</div>
					<div class="tour-icon-txt">{{ tour.transport_mode }}</div>
					<div class="tour-icon-person">2 persons</div>
					<div class="clear"></div>
				</div>
				<div class="h-detail-stars">
					<ul class="h-stars-list">
						<li><a href="#"><img alt="" src="../static/img/hd-star-b.png"></a></li>
						<li><a href="#"><img alt="" src="../static/img/hd-star-b.png"></a></li>
						<li><a href="#"><img alt="" src="../static/img/hd-star-b.png"></a></li>
						<li><a href="#"><img alt="" src="../static/img/hd-star-b.png"></a></li>
						<li><a href="#"><img alt="" src="../static/img/hd-star-a.png"></a></li>
					</ul>
					<div class="h-stars-lbl">{{ tour.revews~'reviews' }}</div>
					<a href="#" class="h-add-review">add review</a>
					<div class="clear"></div>
				</div>
				<div class="h-details-text">
					<p>{{ tour.short_description }}. </p>
					<!-- <p>{{ tour.short_description }}.</p> -->
				</div>
				<!-- <a href="#" class="wishlist-btn"> -->
					<!-- <span class="wishlist-btn-l"><i></i></span> -->
					<!-- <span class="wishlist-btn-r">ADD TO wish list</span> -->
					<!-- <div class="clear"></div> -->
				<!-- </a> -->
				<a href="#" class="book-btn">
					<span class="book-btn-l"><i></i></span>
					<span class="book-btn-r">enquire now</span>
					<div class="clear"></div>
				</a>

        

			</div>

			<div class="h-help">
				<div class="h-help-lbl">Need Help?</div>
				<div class="h-help-lbl-a">We would be happy to help you!</div>
				<div class="h-help-phone">+1-857-250-9582</div>
				<div class="h-help-email"><a href="mailto:info@myafricatours.com?subject=Help!" style="text-decoration:none">info@myafricatours.com</a></div>
			</div>

			<div class="reasons-rating">
				<div id="reasons-slider">
          <!-- // -->
  				<div class="reasons-rating-i">
  					<div class="reasons-rating-txt">The tours are amazing, the customer service is great. Thank you My Africa Tours!</div>
  					<div class="reasons-rating-user">
  						<div class="reasons-rating-user-l">
  							<img alt="" src="../static/img/r-user.png">
  							<span>5.0</span>
  						</div>
  						<div class="reasons-rating-user-r">
  							<b>Gabriela King</b>
  							<span>from United Kingdom</span>
  						</div>
  						<div class="clear"></div>
  					</div>
  				</div>
  				<!-- \\ -->
          <!-- // -->
  				<div class="reasons-rating-i">
  					<div class="reasons-rating-txt">My Africa Tours helped me save almost half of what I had initially planed to spend on tours, you should definietly check it out.</div>
  					<div class="reasons-rating-user">
  						<div class="reasons-rating-user-l">
  							<img alt="" src="../static/img/r-user.png">
  							<span>5.0</span>
  						</div>
  						<div class="reasons-rating-user-r">
  							<b>Robert Dowson</b>
  							<span>from Austria</span>
  						</div>
  						<div class="clear"></div>
  					</div>
  				</div>
  				<!-- \\ -->
          <!-- // -->
  				<div class="reasons-rating-i">
  					<div class="reasons-rating-txt">My Africa Tours has some of the best tour packages in East Africa.</div>
  					<div class="reasons-rating-user">
  						<div class="reasons-rating-user-l">
  							<img alt="" src="../static/img/r-user.png">
  							<span>5.0</span>
  						</div>
  						<div class="reasons-rating-user-r">
  							<b>John Doe</b>
  							<span>from France</span>
  						</div>
  						<div class="clear"></div>
  					</div>
  				</div>
  				<!-- \\ -->
        </div>
			</div>

			<!-- <div class="h-liked">
				<div class="h-liked-lbl">You May Also Like</div>
				<div class="h-liked-row">
					<div class="h-liked-item">
					<div class="h-liked-item-i">
						<div class="h-liked-item-l">
  							<a href="/tour_detail"><img alt="" src="../static/img/myt_like-01.jpg"></a>
						</div>
					<div class="h-liked-item-c">
  						<div class="h-liked-item-cb">
    						<div class="h-liked-item-p">
								<div class="h-liked-title"><a href="/tour_detail">Masaai Mara, Kenya</a></div>
								<div class="h-liked-rating">
								 <nav class="stars">
									<ul>
										<li><a href="#"><img alt="" src="../static/img/star-b.png" /></a></li>
										<li><a href="#"><img alt="" src="../static/img/star-b.png" /></a></li>
										<li><a href="#"><img alt="" src="../static/img/star-b.png" /></a></li>
										<li><a href="#"><img alt="" src="../static/img/star-b.png" /></a></li>
										<li><a href="#"><img alt="" src="../static/img/star-a.png" /></a></li>
									</ul>
									<div class="clear"></div>
								 </nav>
								</div>
								<div class="h-liked-foot">
									<span class="h-liked-price">850$</span>
									<span class="h-liked-comment">avg/night</span>
								</div>
    						</div>
  						</div>
  					<div class="clear"></div>
					</div>
					</div>
					<div class="clear"></div>
					</div>


					<div class="h-liked-item">
					<div class="h-liked-item-i">
						<div class="h-liked-item-l">
  							<a href="/tour_detail"><img alt="" src="../static/img/myt_like-02.jpg"></a>
						</div>
					<div class="h-liked-item-c">
  						<div class="h-liked-item-cb">
    						<div class="h-liked-item-p">
								<div class="h-liked-title"><a href="#">Lake Nakuru, Kenya</a></div>
								<div class="h-liked-rating">
								 <nav class="stars">
									<ul>
										<li><a href="#"><img alt="" src="../static/img/star-b.png" /></a></li>
										<li><a href="#"><img alt="" src="../static/img/star-b.png" /></a></li>
										<li><a href="#"><img alt="" src="../static/img/star-b.png" /></a></li>
										<li><a href="#"><img alt="" src="../static/img/star-b.png" /></a></li>
										<li><a href="#"><img alt="" src="../static/img/star-a.png" /></a></li>
									</ul>
									<div class="clear"></div>
								 </nav>
								</div>
								<div class="h-liked-foot">
									<span class="h-liked-price">964$</span>
									<span class="h-liked-comment">avg/night</span>
								</div>
    						</div>
  						</div>
  					<div class="clear"></div>
					</div>
					</div>
					<div class="clear"></div>
					</div>


					<div class="h-liked-item">
					<div class="h-liked-item-i">
						<div class="h-liked-item-l">
  							<a href="/tour_detail"><img alt="" src="../static/img/myt_like-03.jpg"></a>
						</div>
					<div class="h-liked-item-c">
  						<div class="h-liked-item-cb">
    						<div class="h-liked-item-p">
								<div class="h-liked-title"><a href="/tou_detail">Bwindi, Rwanda</a></div>
								<div class="h-liked-rating">
								 <nav class="stars">
									<ul>
										<li><a href="#"><img alt="" src="../static/img/star-b.png" /></a></li>
										<li><a href="#"><img alt="" src="../static/img/star-b.png" /></a></li>
										<li><a href="#"><img alt="" src="../static/img/star-b.png" /></a></li>
										<li><a href="#"><img alt="" src="../static/img/star-b.png" /></a></li>
										<li><a href="#"><img alt="" src="../static/img/star-a.png" /></a></li>
									</ul>
									<div class="clear"></div>
								 </nav>
								</div>
								<div class="h-liked-foot">
									<span class="h-liked-price">500$</span>
									<span class="h-liked-comment">avg/night</span>
								</div>
    						</div>
  						</div>
  					<div class="clear"></div>
					</div>
					</div>
					<div class="clear"></div>
					</div>
				</div>
			</div> -->





			<div class="h-reasons">
				<div class="h-liked-lbl">Reasons to Book with us</div>
				<div class="h-reasons-row">
				<!-- // -->
					<div class="reasons-i">
					<div class="reasons-h">
						<div class="reasons-l">
							<img alt="" src="../static/img/reasons-a.png">
						</div>
						<div class="reasons-r">
  						<div class="reasons-rb">
							<div class="reasons-p">
								<div class="reasons-i-lbl">Great tour deals</div>
								<p>We offer amazing tour deals at competitive prices.</p>
							</div>
  						</div>
  						<br class="clear" />
						</div>
					</div>
					<div class="clear"></div>
					</div>
				<!-- \\ -->
				<!-- // -->
					<div class="reasons-i">
					<div class="reasons-h">
						<div class="reasons-l">
							<img alt="" src="../static/img/reasons-b.png">
						</div>
						<div class="reasons-r">
  						<div class="reasons-rb">
							<div class="reasons-p">
								<div class="reasons-i-lbl">Licensed</div>
								<p>We operate under a valid license.</p>
							</div>
  						</div>
  						<br class="clear" />
						</div>
					</div>
					<div class="clear"></div>
					</div>
				<!-- \\ -->
				<!-- // -->
					<div class="reasons-i">
					<div class="reasons-h">
						<div class="reasons-l">
							<img alt="" src="../static/img/reasons-c.png">
						</div>
						<div class="reasons-r">
  						<div class="reasons-rb">
							<div class="reasons-p">
								<div class="reasons-i-lbl">Great customer support</div>
								<p>The customer service at My Africa Tours is unbetable.</p>
							</div>
  						</div>
  						<br class="clear" />
						</div>
					</div>
					<div class="clear"></div>
					</div>
				<!-- \\ -->
				</div>
			</div>


		</div>
		<div class="clear"></div>
	</div>

    </div>
  </div>
</div>
<!-- /main-cont -->

{% include 'footer.html' %}

<!-- // scripts // -->
  <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jqeury.appear.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bxSlider.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.select.js') }}"></script>
  <script src="{{ url_for('static', filename='js/twitterfeed.js') }}"></script>
  <script src="{{ url_for('static', filename='bower/vex/dist/js/vex.combined.min.js') }}"></script>
  <script>vex.defaultOptions.className = 'vex-theme-os'</script>
  <link rel="stylesheet" href="{{url_for('static',filename='bower/dist/css/vex/vex.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='bower/dist/css/vex/vex-theme-os.css')}}" />
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tours.js') }}"></script>
  <script>


  function tourFunction(tour){

    $(".tab-reasons-i.reasons-01 p").text("$" + tour.cost);
    $(".tab-reasons-i.reasons-03 p").text(tour.duration);

    for(var i = 0; i < tour.highlights.length; i++){
      $(".facilities table").append("<tr><td class=\"facilities-a\">" + (i+1) + "</td><td class=\"facilities-b\">" +
      tour.highlights[i] + "</tr>");
    }

    // $(".tabs-nav ul").append("<li><a class=\"active\" href=\"#\"> Day "+ 1 + "<span></span></a></li>");
    // $(".tabs-content").append("<div class=\"tabs-content-i\" style=\"display: block;\"><p>" + tour.itenerary[0].content + "</p></div>");

    // for(var i = 1; i < tour.itenerary.length; i++){
      // $(".tabs-nav ul").append("<li><a class=\"\" href=\"#\"> Day "+ (i+1) + "<span></span></a></li>");
      // $(".tabs-content").append("<div class=\"tabs-content-i\" style=\"display: none;\"><p>" + tour.itenerary[i].content + "</p></div>");
    // }

  }


  	$(document).ready(function(){
		'use strict';

    if('{{tour.name}}' == 'Queen Elizabeth National Park'){
      tourFunction(tour_info.qenp);
    }
    else if('{{tour.name}}' == 'Murchison Falls'){ tourFunction(tour_info.mfalls); }
    else if('{{tour.name}}' == 'Bwindi, Queen Elizabeth National Park and Zanzibar'){ tourFunction(tour_info.bqz); }
    else if('{{tour.name}}' == 'Kidepo Valley National Park'){ tourFunction(tour_info.kidepo); }


		$('.review-ranger').each(function(){

      var $this = $(this);
		  var $index = $(this).index();

		  if ( $index=='0' ) { var $val = '3.0'}
      else if ( $index=='1' ) { var $val = '3.8' }
      else if ( $index=='2' ) { var $val = '2.8' }
      else if ( $index=='3' ) { var $val = '4.8' }
      else if ( $index=='4' ) { var $val = '4.3' }
      else if ( $index=='5' ) { var $val = '5.0' }
		  $this.find('.slider-range-min').slider({
			range: "min",
			step: 0.1,
			value: $val,
			min: 0.1,
			max: 5.1,
			create: function( event, ui ) {
			  $this.find('.ui-slider-handle').append('<span class="range-holder"><i></i></span>');
			},
			slide: function( event, ui ) {
			  $this.find(".range-holder i").text(ui.value);
			}
		  });
		  $this.find(".range-holder i").text($val);
		});

    	$('#reasons-slider').bxSlider({
        	infiniteLoop: true,
        	speed: 500,
          mode:'fade',
        	minSlides: 1,
        	maxSlides: 1,
        	moveSlides: 1,
        	auto: true,
        	slideMargin: 0
    	});

        $('#gallery').bxSlider({
        	infiniteLoop: true,
        	speed: 500,
        	slideWidth: 108,
        	minSlides: 1,
        	maxSlides: 6,
        	moveSlides: 1,
        	auto: false,
        	slideMargin: 7
    	});
  	});
  </script>
<!-- \\ scripts \\ -->

</body>
</html>
