<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta charset="utf-8" /><link rel="icon" href="favicon.png" />
  <meta content="eTravel.flights.searches.new" name="js-namespace">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" sizes="60x60"
  	href="{{url_for('static', filename='img/apple-icon-60x60.png')}}">
  <link rel="apple-touch-icon" sizes="72x72"
  	href="{{url_for('static', filename='img/apple-icon-72x72.png')}}">
  <link rel="apple-touch-icon" sizes="76x76"
  	href="{{url_for('static', filename='img/apple-icon-76x76.png')}}">
  <link rel="apple-touch-icon" sizes="114x114"
  	href="{{url_for('static', filename='/img/apple-icon-114x114.png')}}">
  <link rel="apple-touch-icon" sizes="120x120"
  	href="{{url_for('static', filename='img/apple-icon-120x120.png')}}">
  <link rel="apple-touch-icon" sizes="144x144"
  	href="{{url_for('static', filename='img/apple-icon-144x144.png')}}">
  <link rel="apple-touch-icon" sizes="152x152"
  	href="{{url_for('static', filename='img/apple-icon-152x152.png')}}">
  <link rel="apple-touch-icon" sizes="180x180"
  	href="{{url_for('static', filename='img/apple-icon-180x180.png')}}">
  <link rel="icon" type="img/png" sizes="192x192"
  	href="{{url_for('static', filename='img/android-icon-192x192.png')}}">
  <link rel="icon" type="img/png" sizes="32x32"
  	href="{{url_for('static', filename='img/favicon-32x32.png')}}">
  <link rel="icon" type="img/png" sizes="96x96"
  	href="{{url_for('static', filename='img/favicon-96x96.png')}}">
  <link rel="icon" type="img/png" sizes="16x16"
  	href="{{url_for('static', filename='img/favicon-16x16.png')}}">

  <link rel="stylesheet" href="{{url_for('static',filename='css/jquery-ui.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/calendar.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.formstyler.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
  
</head>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ B ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ O ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ D ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Y ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<body>

{% include 'header.html' %}

<!-- main-cont -->
<div class="main-cont">
  <div class="body-wrapper">
    <div class="wrapper-padding">
    <div class="page-head">
      <div class="page-title">Africa - <span>Tours</span></div>
      <div class="breadcrumbs">
        <a href="/home">Home</a> / <a href="/tours">Africa</a> / <span>Tours</span>
      </div>
      <div class="clear"></div>
    </div>
    <div class="two-colls">

    <form autocomplete="on" method="post">
    	{{ tsf.csrf_token }}
      <div class="two-colls-left">
        <div class="srch-results-lbl fly-in">
          <!-- <span>2,435 results found.</span> -->
        </div>

        <div class="side-block fly-in">
          <div class="side-block-search">
            <div class="page-search-p">
						<!-- // -->
						<div class="srch-tab-line">
							<div class="srch-tab-left">
								<label>Country</label>
							<!-- <div class="input-a"><input type="text" value="" placeholder="example: france"></div>	 -->
								<div class="input-a">
                  {{ tsf.country(class_="custom-select") }}
								</div>
							</div>
							<div class="srch-tab-right">
								<label>Budget</label>
								<!-- <div class="input-a"><input type="text" value="" placeholder="Vienna"></div>	 -->
								<div class="input-a">
									{{ tsf.budget(type="text",value="",placeholder="example: $5759") }}
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<!-- \\ -->

						<!-- // -->
						<div class="srch-tab-line">
							<div class="srch-tab-left">
								<label>Departure</label>
								<!-- <div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>	 -->
								<div class="input-a">
									{{ tsf.departure(class_="date-inpt",type="text",value="",placeholder="mm/dd/yy") }}
									<span class="date-icon"></span>
								</div>
							</div>
							<div class="srch-tab-right">
								<label>Return</label>
								<div class="input-a">
									{{ tsf.arrival(class_="date-inpt",type="text",value="",placeholder="mm/dd/yy") }}
									<span class="date-icon"></span></div>
							</div>
							<div class="clear"></div>
						</div>
						<!-- \\ -->
						<div class="srch-tab-line no-margin-bottom">
							<div class="srch-tab-left transformed">
								<label>Hotel stars</label>
								<div class="select-wrapper">
									{{ tsf.rating(class_="custom-select") }}
								</div>
							</div>
							<div class="srch-tab-right transformed">
								<label>people</label>
								<div class="select-wrapper">
									{{ tsf.people(class_="custom-select") }}
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<!-- \\ -->
						{{ tsf.submit(class_="srch-btn",id="srch-btn", value="Search") }}
    					</div>

          </div>
        </div>

        <!-- // side // -->
          <!-- price slider -->
        <!-- \\ side \\ -->

        <!-- // side // -->
          <!-- tour duration -->
        <!-- \\ side \\ -->

        <!-- // side // -->
        <div class="side-block fly-in">
          <div class="side-stars">
            <div class="side-padding">
              <div class="side-lbl">Tour type</div>
              <div class="checkbox">
                <label>
                  {{ tsf.tour_type1(type="checkbox",value="") }}
                  Bus tour
                </label>
              </div>
              <div class="checkbox">
                <label>
                  {{ tsf.tour_type2(type="checkbox",value="") }}
                  AIR
                </label>
              </div>
              <div class="checkbox">
                <label>
                  {{ tsf.tour_type3(type="checkbox",value="") }}
                  Boda boda
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- \\ side \\ -->

        <!-- // side // -->
          <!-- countries check boxes -->
        <!-- \\ side \\ -->


      </div>
  </form>
      <div class="two-colls-right">
        <div class="two-colls-right-b">
          <div class="padding">

            <div class="catalog-head fly-in">
              <label>Sort results by:</label>
              <div class="search-select">
    							<select>
    								<option>Name</option>
    								<option>Price</option>
    								<option>Duration</option>
    								<option>Country</option>
    								<option>Reviews</option>
    							</select>
    					</div>
              <div class="search-select">
    							<select>
    								<option>0-$1500</option>
    								<option>$1500 - $2000</option>
    								<option>$2000 - $3000</option>
    								<option>$3000- $4000</option>
    								<option>$4000 - $5000</option>
    							</select>
    					</div>
              <div class="search-select">
    							<select>
    								<option>5 days</option>
    								<option>10 days</option>
    								<option>15 days</option>
    								<option>20 days</option>
    								<option>25 days</option>
    							</select>
    					</div>
              <a href="#" class="show-list"></a>
			  <a class="show-thumbs chosen" href="#"></a>
              <div class="clear"></div>
            </div>

            <div class="catalog-row">
				{% for image in Images.query.filter_by(category='main').all() %}
				<!-- // -->
				<div class="cat-list-item tour-item fly-in">
                  <div class="cat-list-item-l">
                      <a href={{url_for('tour_detail', tour_name = image.tour.name.__str__()) }}>
                        <img alt="" src = {{'static/img/'~image.filename.__str__() }} >
                      </a>
                  </div>
                  <div class="cat-list-item-r">
                    <div class="cat-list-item-rb">
                      <div class="cat-list-item-p">
                        <div class="cat-list-content">
                          <div class="cat-list-content-a">
                            <div class="cat-list-content-l">
                              <div class="cat-list-content-lb">
                                <div class="cat-list-content-lpadding">
									<div class="tour-item-a">
										<div class="tour-item-lbl"><a href={{url_for('tour_detail', tour_name = image.tour.name)}}>{{ image.tour.name }}</a></div>
										<div class="tour-item-date">11 Nov 2017 - 22 May 2018</div>
									</div>
									<div class="tour-item-devider"></div>
									<div class="tour-item-b">
										<p>{{ image.tour.short_description }}</p>
										<div class="tour-item-footer">
											<div class="tour-i-holder">
                        <div class="tour-item-icons">
  												<img alt="" src="static/img/tour-icon-01.png">
  												<span class="tour-item-plus"><img alt="" src="static/img/tour-icon.png"></span>
  												<img alt="" src="static/img/tour-icon-02.png">
  											</div>
  											<div class="tour-icon-txt">{{ image.tour.transport_mode }}</div>
                        <div class="clear"></div>
											</div>
                      <div class="tour-duration">{{"Duration /"~image.tour.duration~" days"}}</div>
											<div class="clear"></div>
										</div>
									</div>
                                </div>
                              </div>
                              <br class="clear">
                            </div>
                          </div>
                          <div class="cat-list-content-r">
                            <div class="cat-list-content-p">
                              <nav class="stars">
            					<ul>
            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
            						<li><a href="#"><img alt="" src="static/img/star-a.png" /></a></li>
            					</ul>
            					<div class="clear"></div>
            				  </nav>
                              <div class="cat-list-review">{{ image.tour.review.count() }} reviews</div>
                              <div class="offer-slider-r">
              					<b>{{ '$'~image.tour.price|int }}</b>
              					<span>tour price</span>
              				  </div>

                              <a class="cat-list-btn" href={{url_for('tour_detail', tour_name=image.tour.name)}}>Enquire</a>

                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                    <br class="clear">
                  </div>
                  <div class="clear"></div>
                </div>
                <!-- \\ -->
				{% endfor %}
				<!-- // -->
				<!-- <div class="cat-list-item tour-item fly-in">
				                  <div class="cat-list-item-l">
				                      <a href="#"><img alt="" src="static/img/tour-02.jpg"></a>
				                  </div>
				                  <div class="cat-list-item-r">
				                    <div class="cat-list-item-rb">
				                      <div class="cat-list-item-p">
				                        <div class="cat-list-content">
				                          <div class="cat-list-content-a">
				                            <div class="cat-list-content-l">
				                              <div class="cat-list-content-lb">
				                                <div class="cat-list-content-lpadding">
									<div class="tour-item-a">
										<div class="tour-item-lbl"><a href="#">Switzerland - France - Italy</a></div>
										<div class="tour-item-date">11 nov 2015 - 22 now 2015</div>
									</div>
									<div class="tour-item-devider"></div>
									<div class="tour-item-b">
										<p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores...</p>
										<div class="tour-item-footer">
											<div class="tour-i-holder">
				                        <div class="tour-item-icons">
				  												<img alt="" src="static/img/tour-icon-01.png">
				  											</div>
				  											<div class="tour-icon-txt">Air</div>
				                        <div class="clear"></div>
				                      </div>
											<div class="tour-duration">Duration / 11 days</div>
											<div class="clear"></div>
										</div>
									</div>
				                                </div>
				                              </div>
				                              <br class="clear">
				                            </div>
				                          </div>
				                          <div class="cat-list-content-r">
				                            <div class="cat-list-content-p">
				                              <nav class="stars">
				            					<ul>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-a.png" /></a></li>
				            					</ul>
				            					<div class="clear"></div>
				            				  </nav>
				                              <div class="cat-list-review">270 reviews</div>
				                              <div class="offer-slider-r">
				              					<b>3400$</b>
				              					<span>tour price</span>
				              				  </div>
				                              <a class="cat-list-btn" href="#">Select</a>
				                            </div>
				                          </div>
				                          <div class="clear"></div>
				                        </div>
				                      </div>
				                    </div>
				                    <br class="clear">
				                  </div>
				                  <div class="clear"></div>
				                </div> -->
                <!-- \\ -->
                <!-- // -->
				<!-- <div class="cat-list-item tour-item fly-in">
				                  <div class="cat-list-item-l">
				                      <a href="#"><img alt="" src="static/img/tour-03.jpg"></a>
				                  </div>
				                  <div class="cat-list-item-r">
				                    <div class="cat-list-item-rb">
				                      <div class="cat-list-item-p">
				                        <div class="cat-list-content">
				                          <div class="cat-list-content-a">
				                            <div class="cat-list-content-l">
				                              <div class="cat-list-content-lb">
				                                <div class="cat-list-content-lpadding">
									<div class="tour-item-a">
										<div class="tour-item-lbl"><a href="#">Tales of Old Europe</a></div>
										<div class="tour-item-date">11 nov 2015 - 22 now 2015</div>
									</div>
									<div class="tour-item-devider"></div>
									<div class="tour-item-b">
										<p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores...</p>
										<div class="tour-item-footer">
											<div class="tour-i-holder">
				                        <div class="tour-item-icons">
				  												<img alt="" src="static/img/tour-icon-02.png">
				  											</div>
				  											<div class="tour-icon-txt">Bus</div>
				                        <div class="clear"></div>
				                      </div>
											<div class="tour-duration">Duration / 11 days</div>
											<div class="clear"></div>
										</div>
									</div>
				                                </div>
				                              </div>
				                              <br class="clear">
				                            </div>
				                          </div>
				                          <div class="cat-list-content-r">
				                            <div class="cat-list-content-p">
				                              <nav class="stars">
				            					<ul>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-a.png" /></a></li>
				            					</ul>
				            					<div class="clear"></div>
				            				  </nav>
				                              <div class="cat-list-review">270 reviews</div>
				                              <div class="offer-slider-r">
				              					<b>1500$</b>
				              					<span>tour price</span>
				              				  </div>
				                              <a class="cat-list-btn" href="#">Select</a>
				                            </div>
				                          </div>
				                          <div class="clear"></div>
				                        </div>
				                      </div>
				                    </div>
				                    <br class="clear">
				                  </div>
				                  <div class="clear"></div>
				                </div> -->
                <!-- \\ -->
                <!-- // -->
				<!-- <div class="cat-list-item tour-item fly-in">
				                  <div class="cat-list-item-l">
				                      <a href="#"><img alt="" src="static/img/tour-04.jpg"></a>
				                  </div>
				                  <div class="cat-list-item-r">
				                    <div class="cat-list-item-rb">
				                      <div class="cat-list-item-p">
				                        <div class="cat-list-content">
				                          <div class="cat-list-content-a">
				                            <div class="cat-list-content-l">
				                              <div class="cat-list-content-lb">
				                                <div class="cat-list-content-lpadding">
									<div class="tour-item-a">
										<div class="tour-item-lbl"><a href="#">Provence + Barcelona</a></div>
										<div class="tour-item-date">11 nov 2015 - 22 now 2015</div>
									</div>
									<div class="tour-item-devider"></div>
									<div class="tour-item-b">
										<p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores...</p>
										<div class="tour-item-footer">
											<div class="tour-i-holder">
				                        <div class="tour-item-icons">
				  												<img alt="" src="static/img/tour-icon-01.png">
				  												<span class="tour-item-plus"><img alt="" src="static/img/tour-icon.png"></span>
				  												<img alt="" src="static/img/tour-icon-02.png">
				  											</div>
				  											<div class="tour-icon-txt">Air + bus</div>
				                        <div class="clear"></div>
				                      </div>
											<div class="tour-duration">Duration / 11 days</div>
											<div class="clear"></div>
										</div>
									</div>
				                                </div>
				                              </div>
				                              <br class="clear">
				                            </div>
				                          </div>
				                          <div class="cat-list-content-r">
				                            <div class="cat-list-content-p">
				                              <nav class="stars">
				            					<ul>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-a.png" /></a></li>
				            					</ul>
				            					<div class="clear"></div>
				            				  </nav>
				                              <div class="cat-list-review">270 reviews</div>
				                              <div class="offer-slider-r">
				              					<b>2800$</b>
				              					<span>tour price</span>
				              				  </div>
				                              <a class="cat-list-btn" href="#">Select</a>
				                            </div>
				                          </div>
				                          <div class="clear"></div>
				                        </div>
				                      </div>
				                    </div>
				                    <br class="clear">
				                  </div>
				                  <div class="clear"></div>
				                </div> -->
                <!-- \\ -->
                <!-- // -->
				<!-- <div class="cat-list-item tour-item fly-in">
				                  <div class="cat-list-item-l">
				                      <a href="#"><img alt="" src="static/img/tour-05-g.jpg"></a>
				                  </div>
				                  <div class="cat-list-item-r">
				                    <div class="cat-list-item-rb">
				                      <div class="cat-list-item-p">
				                        <div class="cat-list-content">
				                          <div class="cat-list-content-a">
				                            <div class="cat-list-content-l">
				                              <div class="cat-list-content-lb">
				                                <div class="cat-list-content-lpadding">
									<div class="tour-item-a">
										<div class="tour-item-lbl"><a href="#">Switzerland and Italy Tour</a></div>
										<div class="tour-item-date">11 nov 2015 - 22 now 2015</div>
									</div>
									<div class="tour-item-devider"></div>
									<div class="tour-item-b">
										<p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores...</p>
										<div class="tour-item-footer">
											<div class="tour-i-holder">
				                        <div class="tour-item-icons">
				  												<img alt="" src="static/img/tour-icon-01.png">
				  												<span class="tour-item-plus"><img alt="" src="static/img/tour-icon.png"></span>
				  												<img alt="" src="static/img/tour-icon-02.png">
				  											</div>
				  											<div class="tour-icon-txt">Air + bus</div>
				                        <div class="clear"></div>
				                      </div>
											<div class="tour-duration">Duration / 11 days</div>
											<div class="clear"></div>
										</div>
									</div>
				                                </div>
				                              </div>
				                              <br class="clear">
				                            </div>
				                          </div>
				                          <div class="cat-list-content-r">
				                            <div class="cat-list-content-p">
				                              <nav class="stars">
				            					<ul>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-a.png" /></a></li>
				            					</ul>
				            					<div class="clear"></div>
				            				  </nav>
				                              <div class="cat-list-review">270 reviews</div>
				                              <div class="offer-slider-r">
				              					<b>2341$</b>
				              					<span>tour price</span>
				              				  </div>
				                              <a class="cat-list-btn" href="#">Select</a>
				                            </div>
				                          </div>
				                          <div class="clear"></div>
				                        </div>
				                      </div>
				                    </div>
				                    <br class="clear">
				                  </div>
				                  <div class="clear"></div>
				                </div> -->
                <!-- \\ -->
                <!-- // -->
				<!-- <div class="cat-list-item tour-item fly-in">
				                  <div class="cat-list-item-l">
				                      <a href="#"><img alt="" src="static/img/tour-06-g.jpg"></a>
				                  </div>
				                  <div class="cat-list-item-r">
				                    <div class="cat-list-item-rb">
				                      <div class="cat-list-item-p">
				                        <div class="cat-list-content">
				                          <div class="cat-list-content-a">
				                            <div class="cat-list-content-l">
				                              <div class="cat-list-content-lb">
				                                <div class="cat-list-content-lpadding">
									<div class="tour-item-a">
										<div class="tour-item-lbl"><a href="#">treasures of Morocco tour</a></div>
										<div class="tour-item-date">11 nov 2015 - 22 now 2015</div>
									</div>
									<div class="tour-item-devider"></div>
									<div class="tour-item-b">
										<p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores...</p>
										<div class="tour-item-footer">
											<div class="tour-i-holder">
				                        <div class="tour-item-icons">
				  												<img alt="" src="static/img/tour-icon-01.png">
				  											</div>
				  											<div class="tour-icon-txt">Air</div>
				                        <div class="clear"></div>
				                      </div>
											<div class="tour-duration">Duration / 11 days</div>
											<div class="clear"></div>
										</div>
									</div>
				                                </div>
				                              </div>
				                              <br class="clear">
				                            </div>
				                          </div>
				                          <div class="cat-list-content-r">
				                            <div class="cat-list-content-p">
				                              <nav class="stars">
				            					<ul>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-b.png" /></a></li>
				            						<li><a href="#"><img alt="" src="static/img/star-a.png" /></a></li>
				            					</ul>
				            					<div class="clear"></div>
				            				  </nav>
				                              <div class="cat-list-review">270 reviews</div>
				                              <div class="offer-slider-r">
				              					<b>5000$</b>
				              					<span>tour price</span>
				              				  </div>
				                              <a class="cat-list-btn" href="#">Select</a>
				                            </div>
				                          </div>
				                          <div class="clear"></div>
				                        </div>
				                      </div>
				                    </div>
				                    <br class="clear">
				                  </div>
				                  <div class="clear"></div>
				                </div> -->
                <!-- \\ -->

            </div>

            <div class="clear"></div>

            <div class="pagination">
              <a class="active" href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <br class="clear" />
      </div>
    </div>
    <div class="clear"></div>

    </div>
  </div>
</div>
<!-- /main-cont -->

{% include 'footer.html' %}

<!-- // scripts // -->
  <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jqeury.appear.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bxSlider.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.formstyler.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.select.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/twitterfeed.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  <script>
  	$(document).ready(function(){
	  'use strict';
      (function($) {
        $(function() {
          $('input:checkbox,input:radio,.search-engine-range-selection-container input:radio').styler();
        })
      })(jQuery);

      	var slider_range = $("#slider-range");
		var ammount_from = $("#ammount-from");
		var ammount_to = $("#ammount-to");

		$(function() {
			slider_range.slider({
			  range: true,
			  min: 0,
			  max: 1500,
			  values: [ 275, 1100 ],
			  slide: function( event, ui ) {
				ammount_from.val(ui.values[0]+'$');
				ammount_to.val(ui.values[1]+'$');
			  }
			});
			ammount_from.val(slider_range.slider("values",0)+'$');
			ammount_to.val(slider_range.slider("values",1)+'$');
		});

        $(".side-time").each(function(){
          var $this = $(this);
          $this.find('.time-range').slider({
              range: true,
              min: 0,
              max: 24,
              values: [ 3, 20 ],
              slide: function( event, ui ) {
                $this.find(".time-from").text(ui.values[0]);
                $this.find(".time-to").text(ui.values[1]);
              }
          });
          $(this).find(".time-from").text($this.find(".time-range").slider("values",0));
          $(this).find(".time-to").text($this.find(".time-range").slider("values",1));
        });
  	});
  </script>
<!-- \\ scripts \\ -->

</body>
</html>
